.memberLink {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  height: 30px;
  background-color: rgba(102, 57, 182, 0.1);
}

.memberLink:hover,
.memberLink:focus {
  background-color: rgba(102, 57, 182, 0.25);
  text-decoration: none;
}

.memberImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.memberName {
  margin-left: 10px;
  margin-right: 10px;
  flex: 0 auto;
}
