{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | {{ member.full_name }}{% endblock %}

{% block link %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
  <link rel="stylesheet" href="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css" %}">
  {% endcompress %}
  {% include 'react/react_css.html' with bundle_name='MemberDetail' %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Members" "member_list" %}
  {% breadcrumb member.full_name "member_detail" pk=member.id %}
{% endblock %}

{% block content %}
  {% include 'react/react_div.html' %}
  
  <div class="g-pt-20 text-right">
    {% instance_admin_links member %}
  </div>
{% endblock content %}

{% block body_js %}
  {{ block.super }}
  {% compress js %}
  <script src="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
  {% endcompress %}

  {% include 'react/react_js.html' with bundle_name='MemberDetail' %}
{% endblock body_js %}