{% extends "base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ block.super }} | {{ club.name }}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
  {% render_bundle 'common' 'css' %}
  {% render_bundle 'oppositionClubDetail' 'css' %}
{% endblock link %}

{% block head_js %}
  {{ block.super }}
  {% if club.default_venue %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&region=GB"></script>
  {% endif %}
{% endblock head_js %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Opposition Clubs" "opposition_club_list" %}
  {% breadcrumb club.name "opposition_club_detail" slug=club.slug %}
{% endblock %}

{% block content %}
  
  {% heading club.name %}

  <div class="u-heading-v1-6 g-bg-main g-brd-gray-light-v2 g-mb-20 g-mt-20">
    <h2 class="h3 u-heading-v1__title">Location</h2>
  </div>

  {% if club.default_venue %}
    {% include 'matches/_venue.html' with venue=club.default_venue %}
  {% endif %}  
  
  <div id="react-app" class="g-mt-40"></div>
  
{% endblock content %}


{% block body_js %}
{{ block.super }}
<script>
  window.props = {
    clubName: '{{ club.name|safe }}',
    matchFilters: {
      oppTeam_Club_Slug: '{{ club.slug }}',
    },
  };  
  window.react_mount = document.getElementById('react-app');
</script>
{% render_bundle 'common' 'js' %}
{% render_bundle 'oppositionClubDetail' 'js' %}

{% if club.default_venue %}
  {% include 'maps/_map_body_js.html' with venue=club.default_venue mapId="map" %}
{% endif %}
{% endblock body_js %}