{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | {{ club.name }}{% endblock %}

{% block link %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
  {% endcompress %}
  {% include 'react/react_css.html' with bundle_name='OppositionClubDetail' %}
{% endblock link %}

{% block head_js %}
  {{ block.super }}
  {% if club.default_venue %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&region=GB"></script>
  {% endif %}
{% endblock head_js %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Opposition Clubs" "opposition_club_list" %}
  {% breadcrumb club.name "opposition_club_detail" slug=club.slug %}
{% endblock %}

{% block content %}
  
  {% heading club.name %}

  <div class="u-heading-v1-6 g-bg-main g-brd-gray-light-v2 g-mb-20 g-mt-20">
    <h2 class="h3 u-heading-v1__title">Location</h2>
  </div>

  {% if club.default_venue %}
    {% include 'matches/_venue.html' with venue=club.default_venue %}
  {% endif %}  
  
  <div id="react-app" class="g-mt-40"></div>
  
  <div class="g-pt-20 text-right">
    {% instance_admin_links club %}
  </div>
{% endblock content %}


{% block body_js %}
{{ block.super }}
{% include 'react/react_js.html' with bundle_name='OppositionClubDetail' %}

{% if club.default_venue %}
  {% include 'maps/_map_body_js.html' with venue=club.default_venue mapId="map" %}
{% endif %}
{% endblock body_js %}