{% comment %} 
BACKUP ONLY - this template serves just as a backup for the corresponding database-stored FlatPage entry
{% endcomment %}

<header class="g-mb-20">
  <h2 class="h1 g-font-weight-300 text-uppercase">Privacy Policy</h2>
</header>

<p class="lead">Cambridge South Hockey Club ("We") is committed to protecting and respecting your privacy.</p>
<p>This policy (together with our terms of use) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting cambridgesouthhockeyclub.co.uk or by providing your personal information to us you are accepting and consenting to the practices described in this policy.</p>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Information we collect from you</h2>
</div>
<p>We will collect and process the following data about you:</p>
<ul>
  <li>
    <strong>Information you give us.</strong> This is information about you that you give us by filling in forms on our site or in person, or by corresponding with us by e-mail or otherwise. It includes information you provide when you register to use our site, subscribe to our mailing lists, participate in social media functions, purchase tickets or products, or complete registration and consent forms. The information you give us may include your name, address, e-mail address and phone number, date of birth, medical conditions and photograph.
  </li>
  <li>
    <strong>Information we collect about you.</strong> With regard to each of your visits to our site we may automatically collect the following information:
    <ul>
      <li>
        technical information, including the IP address of your device, your login information, browser type and version, time zone setting, device make and model, operating system and platform;
      </li>
      <li>
        information about your visit, including but not limited to traffic data, pages visited and duration of visits, and links followed.
      </li>
    </ul>
  </li>
</ul>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Cookies</h2>
</div>
<p>Our website uses cookies (small text files placed on your device) to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our site and also allows us to improve our site.</p>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Uses made of the information</h2>
</div>

<p>We use information held about you in the following ways:</p>
<ul>
  <li>
    <strong>Information you give to us.</strong> We will use this information:
    <ul>
      <li>
        to provide you with the information and functionality that you request from us or which relate to our activities that are relevant to you;
      </li>
      <li>
        to ensure that content from our site is presented in the most effective manner for you and for your computer.
      </li>
    </ul>
  </li>
  <li>
    <strong>Information we collect about you.</strong> We will use this information:
    <ul>
      <li>to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
      <li>to improve our site to ensure that content is presented in the most effective manner for you and for your computer;</li> 
      <li>to allow you to participate in interactive features of our site, when you choose to do so;</li>
      <li>as part of our efforts to keep our site safe and secure.</li>
    </ul>
  </li>
</ul>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Disclosure of your information</h2>
</div>

<p>You agree that we have the right to share your personal information, on an aggregated and anonymise basis, with analytics and search engine providers that assist us in the improvement and optimisation of our site.</p>

<p>We do not share your identifiable personal information with any third parties or use it for marketing or any other commercial purposes.</p>
<p>We will disclose your personal information to third parties: where it is in your interest to do so, such as to medical staff treating you if you suffer illness or injury; if we are under a duty to disclose or share your personal data in order to comply with any legal obligation; or in order to enforce or apply our terms of use.</p>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Where we store your personal data</h2>
</div>

<p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
<p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use security features to try to prevent unauthorised access.</p>
<p>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates.  If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites.</p>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Changes to our privacy policy</h2>
</div>

<p>Any changes we make to our privacy policy in the future will be posted on this page. Please check back to see any updates or changes to our privacy policy.</p>

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-my-20">
  <h2 class="h3 u-heading-v1__title">Contact</h2>
</div>
  
<p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a href="mailto:secretary@cambridgesouthhockeyclub.co.uk">secretary@cambridgesouthhockeyclub.co.uk</a>.</p>
