.imageContainer {
  position: relative;
}
.image {
  width: 100%;
}
.imageOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.shirt {
  transform: scale(2);
}
.awardRow {
  text-align: center;
}
.flexRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.captain {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
