# NPM dependencies
node_modules

# Webpack artifacts
webpack-stats.json
webpack-stats-prod.json

# Visual Studio Code files
.vscode/*

# Build/compilation output
src/static/bundles/*
*.pyc

# collectstatic output
src/assets/*

# Local dev database
*.sqlite3

# Docs output
docs/_build/*