# NPM dependencies
node_modules

# Virtual Environment
venv/*

# Webpack artifacts
webpack-stats.json
webpack-stats-prod.json

# Build/compilation output
src/static/bundles/*
src/static/dist/*
*.pyc

# collectstatic output
src/assets/*
src/media/*

# Local dev database
*.sqlite3

# Docs output
docs/_build/*

# Production database dump file
prod_dump.sql

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

# Package Lock
# Ref: https://stackoverflow.com/a/47318983
package-lock.json
