# NPM dependencies
node_modules

# Virtual Environment
venv/*

# Webpack artifacts
webpack-stats.json
webpack-stats-prod.json

# Build/compilation output
src/static/bundles/*
src/static/dist/*
*.pyc

# collectstatic output
src/assets/*
src/media/uploads/*

# Local dev database
*.sqlite3

# Docs output
docs/_build/*