Django==1.11.5
django-cors-headers==2.1.0
django-webpack-loader==0.5.0
pylint==1.7.3
pylint-django==0.7.2
django-jet==1.0.6
django-debug-toolbar==1.8

# Django extensions
# Ref: https://django-extensions.readthedocs.io/en/latest/
django-extensions==1.9.1

# Django User Agents
# Ref: https://github.com/selwin/django-user_agents
pyYAML==3.12
ua-parser==0.7.3
user-agents==1.1.0
django-user-agents==0.3.2

# Django geoposition
# Ref: https://django-geoposition.readthedocs.io/en/latest/
django-geoposition==https://github.com/philippbosch/django-geoposition/archive/django-1.11.zip

# Django Bootstrap Breadcrumbs
# Ref: http://django-bootstrap-breadcrumbs.readthedocs.io/en/latest/
django-bootstrap-breadcrumbs==0.8.2

# Documentation Generation
sphinx==1.6.4
sphinx-autobuild==0.7.1
restructuredtext-lint==1.1.1
sphinx_rtd_theme==0.2.4

# Image Utils
easy-thumbnails==2.4.2
django-resized==0.3.7
django-image-cropping==1.1.0