Django==1.11.5
django-cors-headers==2.1.0
django-webpack-loader==0.5.0
pylint==1.7.3
pylint-django==0.7.2
django-jet==1.0.6
django-debug-toolbar==1.8
django-model-utils==3.0.0
django-filter==1.0.4
django-braces==1.11.0

# Bleach - used by json template tag filter
bleach==2.1.1

# Django CKEditor (wysiwyg editor support)
# Ref: https://django-ckeditor.readthedocs.io/en/latest/
django-ckeditor==5.3.0

# Django extensions
# Ref: https://django-extensions.readthedocs.io/en/latest/
django-extensions==1.9.1

# Django Authentication
# Ref: http://django-allauth.readthedocs.io/en/latest
django-allauth==0.33.0

# Django User Agents
# Ref: https://github.com/selwin/django-user_agents
pyYAML==3.12
ua-parser==0.7.3
user-agents==1.1.0
django-user-agents==0.3.2

# Django geoposition
# Ref: https://django-geoposition.readthedocs.io/en/latest/
-e git+https://github.com/philippbosch/django-geoposition.git@a212ca66f635c61b9ac777f1d8f92caccff56612#egg=django-geoposition

# Django Bootstrap Breadcrumbs
# Ref: http://django-bootstrap-breadcrumbs.readthedocs.io/en/latest/
django-bootstrap-breadcrumbs==0.8.2

# Documentation Generation
sphinx==1.6.4
sphinx-autobuild==0.7.1
restructuredtext-lint==1.1.1
sphinx_rtd_theme==0.2.4

# Image Utils
easy-thumbnails==2.4.2
django-resized==0.3.7
django-image-cropping==1.1.0

# GraphQL support
# Ref: https://github.com/graphql-python/graphene-django
graphene-django>=2.0.dev

# Django Templated Email
# Ref: https://github.com/vintasoftware/django-templated-email
django-templated-email==2.2.0

# Tagging support
# Ref: https://django-taggit.readthedocs.io/en/latest/
django-taggit==0.22.1

# Monitoring with Sentry
# Ref: https://docs.sentry.io/clients/python/integrations/django/
raven==6.3.0

# Disqus integration
# Ref: https://django-disqus.readthedocs.io/en/latest
django-disqus==0.5

# Zinnia blog
# Ref: http://docs.django-blog-zinnia.com/en/latest
Pillow==4.3.0
django-mptt==0.8.7
django-tagging==0.4.6
beautifulsoup4==4.6.0
mots-vides==2015.5.11
regex==2017.11.9
django-contrib-comments==1.8.0
django-blog-zinnia==0.19
