/* Because of react-select weirdness, we need to give this card a higher z-index than its siblings 
 * Ref: https://github.com/JedWatson/react-select/issues/1085
 */
.resultCard {
  z-index: 1 !important;
}
.teamName {
  flex: 1;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
}
.score {
  flex: 0 auto;
  white-space: nowrap;
}

.altOutcomeSelect {
  :global {
    & .Select-menu-outer {
      top: auto;
      bottom: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-right-radius: unset;
      border-bottom-left-radius: unset;
    }
    & .Select-option:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    & .Select-option:last-child {
      border-bottom-right-radius: unset;
      border-bottom-left-radius: unset;
    }
    & .Select.is-open > .Select-control {
      border-top-right-radius: unset;
      border-top-left-radius: unset;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

:global {
  @import 'node_modules/react-select/scss/default.scss';
}
