{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags %}

{% block title %}{{ block.super }} | Training{% endblock %}

{% block link %}
  {% include 'blocks/_dszparallaxer_css.html' %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}


{% block main %}

{% url 'calendar' as calendar %}
{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'wilberforce-road' as uni_url %}
{% url 'venue_detail' 'st-marys' as st_marys_url %}
{% url 'trainingsession_create' as create_training_session %}
{% url 'juniors_index' as juniors %}
{% url 'trainingsession_create' as create_training_session %}

{% clubinfo 'SecretaryName' as sec_name %}
{% _in_season as in_season %}

{% include "blocks/_parallax_hero.html" with image="img/training-banner.jpg" title="Training" subtitle="It never gets easier, you just get better" %}

{% include 'core/_messages.html' %}

<section class="container g-mt-20 g-mt-40--md g-mb-40">
  {% render_breadcrumbs %}
  {% include 'blocks/_middle_heading.html' with title="Squad Training" %}

  <p class="lead">Cambridge South runs professionally coached training sessions for men and women of all standards 
    throughout the season from September to March at <a href="{{ long_road_url }}">Long Road Sixth Form College</a>
    or <a href="{{ st_marys_url }}">St Mary's and Homerton Sports Ground</a>.</p>
  <p class="lead">All standard training sessions are free to attend, for club members and newcomers, with no booking required.</p>
  
  <div class="row justify-content-center g-mt-30 g-mb-30">
    <div class="col-12 col-lg-10">
      <div class="alert alert-secondary d-flex align-items-center" role="alert">
        <i class="icon-info g-font-size-25 g-mr-10"></i>
        <div>For all sessions, <strong>please arrive 15 minutes early to warm up</strong> so everyone can get the most out of the session.</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-py-20 g-pr-40 order-1 order-md-1">
        <div>
          <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20 text-center">Ladies' Squads</h2>
          <div class="table-responsive">
            <table class="table table-striped table-bordered g-font-size-14">
              <thead>
                <tr>
                  <th>Squad</th>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Venue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L1s</td>
                  <td>Thursdays</td>
                  <td>7-8pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>L1s &amp; L2s</td>
                  <td>Tuesdays</td>
                  <td>7:30-9:30pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>L3s &amp; L4s</td>
                  <td>Thursdays</td>
                  <td>8-9:30pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>L5s &amp; L6s</td>
                  <td>Thursdays</td>
                  <td>7:30-9pm</td>
                  <td><a href="{{ st_marys_url }}">St Mary's</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center g-py-20 order-2 order-md-2">
      {% abs_static_url "img/ladies_training20250810.jpg" as ladies_training_image %}
      {% thumbnail ladies_training_image "540" as ladies_training_image_thumbnail %}
        <img class="w-100" src="{{ ladies_training_image_thumbnail.url }}" alt="Ladies training">
      {% endthumbnail %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-py-20 g-pr-40 order-1 order-md-2">
        <div>
          <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20 text-center">Men's Squads</h2>
          <div class="table-responsive">
            <table class="table table-striped table-bordered g-font-size-14">
              <thead>
                <tr>
                  <th>Squad</th>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Venue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>M1s</td>
                  <td>Mondays</td>
                  <td>9-10pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>M1s &amp; M2s</td>
                  <td>Wednesdays</td>
                  <td>7:30-9:30pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>M3s &amp; M4s</td>
                  <td>Mondays</td>
                  <td>7:30-9pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
                <tr>
                  <td>M5s &amp; M6s</td>
                  <td>Tuesdays</td>
                  <td>7:30-9pm</td>
                  <td><a href="{{ st_marys_url }}">St Mary's</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
      </div>
      <div class="col-md-6 align-self-center g-py-20 order-2 order-md-1">
      {% abs_static_url "img/mens_training.jpg" as training_image %}
      {% thumbnail training_image "540" as training_image_thumbnail %}
        <img class="w-100" src="{{ training_image_thumbnail.url }}" alt="Mens training">
      {% endthumbnail %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-mt-30 g-mb-30">
    <div class="col-12 col-lg-10">
      <div class="alert alert-secondary d-flex align-items-center" role="alert">
        <i class="icon-info g-font-size-25 g-mr-10"></i>
        <div><strong>1st and 2nd Team Training -</strong> The Men's and Ladies' 1s and 2s run an extra half hour of training on their 
            respective evenings. There is an annual supplemental fee of £30 per season for these sessions.</div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div class="container g-py-40">
    {% include 'blocks/_middle_heading.html' with title="Goalkeeper Training" %}
    <p class="lead">
        As well as training with their squads in the standard men's and ladies' training sessions, goalkeepers can also attend a
        fortnightly specialist goalkeeper training session.</p>

  <div class="row justify-content-center g-mt-30 g-mb-30">
    <div class="col-12 col-lg-10">
      <div class="alert alert-secondary d-flex align-items-center" role="alert">
        <i class="icon-info g-font-size-25 g-mr-10"></i>
        <div><strong>Please be kitted up and ready for the session start time.</strong></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-py-20 g-pr-40 order-1 order-md-1">
        <div>
          <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20 text-center">Goalkeepers</h2>
          <div class="table-responsive">
            <table class="table table-striped table-bordered g-font-size-14">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Venue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Thursdays (fortnightly*)</td>
                  <td>7-8pm</td>
                  <td><a href="{{ long_road_url }}">Long Road</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        <p class="text-muted text-center"><em>*Check the <a href="{{ calendar }}" title="Calendar">calendar</a> for session dates.</em></p>
      </div>
      <div class="col-md-6 align-self-center g-py-20 order-2 order-md-2">
      {% abs_static_url "img/keeper_training.jpg" as training_image %}
      {% thumbnail training_image "540" as training_image_thumbnail %}
        <img class="w-100" src="{{ training_image_thumbnail.url }}" alt="Keeper training">
      {% endthumbnail %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container g-py-40">
    {% include 'blocks/_middle_heading.html' with title="Juniors' Training" %}
    <p class="lead">
      For details of Juniors training, including upcoming session dates and times, check out the dedicated <a href="{{ juniors }}">Juniors page</a>.
    </p>
  </div>
</section>

{% endblock main %}

{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_dszparallaxer_js.html' %}
{% endblock %}
