{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load unify %}
{% load compress %}

{% block title %}{{ block.super }} | Add training sessions{% endblock %}

{% comment %} 
  jQuery-UI CSS must be included before Unify CSS
{% endcomment %}
{% block pre_link %}
  {{ block.super }}  
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/jquery-ui/themes/base/jquery-ui.min.css" %}">
  {% endcompress %}
{% endblock pre_link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Training" "upcoming_trainingsession_list" %}
  {% breadcrumb "Add Training Sessions" "trainingsession_create" %}
{% endblock %}

{% block content %}

{% url 'upcoming_trainingsession_list' as upcoming_trainingsession_list %}

{% heading "Add training sessions" %}

<p class="lead">Use this form to add multiple/repeat training sessions.</p>
    
<form action="" method="post" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {{ form.non_field_errors }}
    
    {% unify_form_field 'venue' 'horizontal' %}
    {% unify_form_field 'description' 'horizontal' %}
    {% unify_form_field 'date' 'horizontal' %}
    {% unify_form_field 'time' 'horizontal' %}
    {% unify_form_field 'duration_mins' 'horizontal' %}

    <div class="form-group row">
  
      <label class="col-sm-3 col-form-label g-mb-10">
        Repeat*
      </label>
      
      <div class="col-sm-9">
        <ul id="id_repeat_option" class="list-unstyled">
          <li class="g-mb-20">
            <label class="u-check g-pl-30" for="id_repeat_option_0">
              <input type="radio" name="repeat_option" value="N" class="list-unstyled g-hidden-xs-up g-pos-abs g-top-0 g-left-0" required="" id="id_repeat_option_0">
              <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                <i class="far" data-check-icon="" data-uncheck-icon=""></i>
              </div>
              One-off
            </label>
          </li>
          <li class="d-flex align-items-center flex-wrap">
            <label class="u-check g-pl-30 g-mr-20 g-mb-20 g-min-width-110" for="id_repeat_option_1">
              <input type="radio" name="repeat_option" checked="checked" value="M" class="list-unstyled g-hidden-xs-up g-pos-abs g-top-0 g-left-0" required="" id="id_repeat_option_1">
              <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                <i class="far" data-check-icon="" data-uncheck-icon=""></i>
              </div>
              Multiple
            </label>
            <div id="repeat-count-input-group" class="js-quantity input-group u-quantity-v1 g-width-170 g-brd-primary--focus g-mb-20 g-mr-10">
              <div class="js-minus input-group-prepend g-width-55 g-color-gray">
                <span class="input-group-text rounded-0 w-100"><i class="ti ti-minus"></i></span>
              </div>
              <input type="text" name="repeat_count" value="10" class="js-result form-control text-center rounded-0 g-pa-15" min="2" max="52" id="id_repeat_count">
              <div class="js-plus input-group-append g-width-55 g-color-gray">
                <span class="input-group-text rounded-0 w-100"><i class="ti ti-plus"></i></span>
              </div>
            </div>
            <div class="g-mb-20">times</div>
          </li>
          <li class="d-flex align-items-center flex-wrap">
            <label class="u-check g-pl-30 g-mr-20 g-min-width-110 g-mb-20" for="id_repeat_option_2">
              <input type="radio" name="repeat_option" value="U" class="list-unstyled g-hidden-xs-up g-pos-abs g-top-0 g-left-0" required="" id="id_repeat_option_2">
              <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                <i class="far" data-check-icon="" data-uncheck-icon=""></i>
              </div>
              Until
            </label>
            <div id="repeat-until-input-group" class="input-group g-brd-primary--focus g-width-170 g-mb-20">
              <input type="text" name="repeat_until" class="g-width-120 form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0 unify-datepicker" id="id_repeat_until" disabled="">
              <div class="input-group-append">
                <span class="input-group-text rounded-0 g-color-gray-light-v1"><i class="far fa-calendar-alt"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% unify_form_submit_button 'Save' 'horizontal' %}
    {% unify_form_required_fields_footnote 'horizontal' %}
    
</form>

{% model_admin_links 'training' 'trainingsession' %}

{% endblock %}

{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_focus_state_js.html' %}
  {{ form.media }}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/training.js" %}"></script>
  {% endcompress %}
{% endblock %}