{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags %}

{% block title %}{{ block.super }} | Training{% endblock %}

{% block link %}
  {% include 'blocks/_dszparallaxer_css.html' %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}


{% block main %}

{% url 'calendar' as calendar %}
{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'wilberforce-road' as uni_url %}
{% url 'trainingsession_create' as create_training_session %}
{% url 'juniors_index' as juniors %}
{% url 'trainingsession_create' as create_training_session %}

{% clubinfo 'SecretaryName' as sec_name %}
{% clubinfo 'InSeason' as in_season %}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll is-touch" data-options="{
  settings_mode_oneelement_max_offset: '150'
 }">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(&quot;{% static "img/training-banner.jpg" %}&quot;); transform: translate3d(0px, 0px, 0px);"></div>
  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-black-opacity-0_6--after g-py-20">
    <div class="container text-center u-bg-overlay__inner">
      <h2 class="g-font-size-60 g-mb-80">Training</h2>
      <p class="g-font-size-32 g-font-style-italic">It never gets easier, you just get better</p>
    </div>
  </section>
</div>

{% include 'core/_messages.html' %}

<section class="container g-mt-20 g-mt-40--md g-mb-40">
  {% render_breadcrumbs %}
  {% include 'blocks/_middle_heading.html' with title="Squad Training" %}

  <p class="lead g-mb-40">Cambridge South runs professionally coached training sessions for men and women of all standards throughout the season from September to March at
  <a href="{{ long_road_url }}">Long Road Sixth Form College</a>. All training sessions are free to attend, for club members and newcomers, with no booking required.</p>

  <figure class="row flex-md-row align-items-center">
    <div class="col-md-6 px-0">
      <div class="u-ns-bg-v1-bottom u-ns-bg-v1-right--md g-bg-white g-py-30 g-px-50 text-center">
        <h4 class="h4 g-color-black g-mb-15">Ladies' Squads</h4>
        <div class="g-mb-10"><a href="{{ long_road_url }}" title="Venue details">Long Road Sixth Form College</a></div>
        <div class="g-font-style-italic  g-mb-20">
          1st & 2nd XIs - Wednesdays, 7.30pm - 9pm<br/>
          3rd to 5th XIs - Mondays, 8pm - 9.30pm
          <div class="g-font-size-14 g-pt-10 g-color-gray-dark-v5">Please arrive 15 minutes early to warm up</div>
        </div>
        <p class="lead g-color-gray-dark-v5 g-font-weight-600">Due to continued growth in numbers and the addition of a 5th league team this season, ladies' 
          training is now split across two evenings. The Ladies' 1s and Ladies' 2s squads train on Wednesday nights, while the remaining three teams - including 
          players new or returning to hockey - train on Monday evenings.</p>
      </div>
    </div>
    <div class="col-md-6 px-0">
      {% abs_static_url "img/ladies_training.jpg" as ladies_training_image %}
      {% thumbnail ladies_training_image "580" as ladies_training_image_thumbnail %}
        <img class="w-100" src="{{ ladies_training_image_thumbnail.url }}" alt="Ladies training">
      {% endthumbnail %}
    </div>
  </figure>

  <figure class="row flex-md-row align-items-center">
    <div class="col-md-6 order-md-2 px-0">
      <div class="u-ns-bg-v1-bottom u-ns-bg-v1-left--md g-bg-white g-py-30 g-px-50 text-center">
        <div class="g-mb-25">
          <h4 class="h4 g-color-black g-mb-15">Men's Squads</h4>
          <div class="g-mb-10"><a href="{{ long_road_url }}" title="Venue details">Long Road Sixth Form College</a></div>
          <div class="g-font-style-italic  g-mb-20">
            1st & 2nd XIs - Tuesdays, 7.30pm - 9.30pm<br/>
            3rd to 5th XIs - Tuesdays, 7.30pm - 9pm
            <div class="g-font-size-14 g-pt-10 g-color-gray-dark-v5">Please arrive 15 minutes early to warm up</div>
          </div>
          <p class="lead g-color-gray-dark-v5 g-font-weight-600">The men's teams train on Tuesdays nights. All teams train from 
            7.30-9pm, divided into higher and lower teams each on half a pitch. The Men's 1s and Men's 2s continue until 9.30pm on the full pitch.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-md-1 px-0">
      {% abs_static_url "img/mens_training.jpg" as training_image %}
      {% thumbnail training_image "580" as training_image_thumbnail %}
        <img class="w-100" src="{{ training_image_thumbnail.url }}" alt="Mens training">
      {% endthumbnail %}
    </div>
  </figure>
</section>

<section class="g-bg-secondary">
  <div class="container g-py-40">
    {% include 'blocks/_middle_heading.html' with title="Goalkeeper Training" %}
    <p class="lead">
        As well as being included within the main men's and ladies' training sessions, the club also arranges periodic separate dedicated training for 
        goalkeepers. See the club calendar for the training schedule. Keepers should arrive early and be kitted up and ready for the start of the session.
    </p>
    {% include 'blocks/_divider.html' with bg_color="g-bg-secondary" %}
    {% include 'blocks/_middle_heading.html' with title="1st Team Training" %}
    <p class="lead">
        The Men's 1s and Ladies' 1s run a second hour of training from 8.45-9.45pm on Thursday evenings. There is a supplemental fee for this session 
        for 1st XI players.
    </p>
    {% include 'blocks/_divider.html' with bg_color="g-bg-secondary" %}
    {% include 'blocks/_middle_heading.html' with title="Juniors' Training" %}
    <p class="lead">
      For details of Juniors training, including upcoming session dates and times, check out the dedicated <a href="{{ juniors }}">Juniors page</a>.
    </p>
  </div>
</section>

<section>
  <div class="container g-py-40">
    {% if in_season == 'in' %}
      {% include 'blocks/_middle_heading.html' with title="Pay and Play" %}
      <p class="lead">
        Cambridge South also offers informal weekly hockey on Thursday evenings from 7:30pm to 8:30pm at
        <a href="{{ long_road_url }}">Long Road Sixth Form College</a> during the season.
      </p>
      <p class="lead">
        A typical session consists of a couple of small-sided knock-around games, each on a half pitch. The sessions are mixed men's 
        and ladies' hockey and open to everyone. You don't have to be a club member to come along and new players are very welcome.
      </p>
      <p class="lead">
        If you&#39;d like to play, either contact {% clubinfo_email 'SecretaryEmail' sec_name %} any time during the week prior to 
        the session you wish to attend or else just turn up at the pitch and introduce yourself. The cost is &pound;4 or &pound;2 for 
        students and the unwaged. If you're new to the club, your first session is free!
      </p>
    {% else %}
      {% subheading "Summer Hockey" %}
      <p class="lead">
        Cambridge South also offers informal weekly hockey on Wednesday evenings year-round, including over the summer off-season, from 7:30-8:30pm at
        <a href="{{ long_road_url }}">Long Road Sixth Form College</a>.
      </p>
      <p class="lead">
        A typical session consists of a couple of small-sided knock-around games, each on a half pitch. The sessions are mixed men's and ladies' 
        hockey and open to everyone. You don't have to be a club member to come along and new players are very welcome.
      </p>
      <div class="alert alert-warning fade show g-my-10" role="alert">
        <div class="media">
          <span class="d-flex mr-2 g-mt-5">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          <div class="media-body">
            <p><strong>Note: </strong>From April through August, additional sessions run at the same time on Tuesday and Thursday evenings. The Thursday sessions are suspended for 5 weeks from 30 May to 27 June, and moved back an hour to 8.30-9.30pm in August, preceded by a basic skills and game session for beginners and players returning to hockey from 7.30-8.30pm.
            </p>
            <p>Tuesday and Thursday summer sessions are restricted to club members (or new players not affiliated to any club).
            </p>
          </div>
        </div>
      </div>
      <p class="lead">
        If you build up a thirst then there is usually a group of us going on for a drink or two afterwards at a nearby pub - a great way to get 
        to know people in the club!
      </p>
      <p class="lead">
        If you'd like to play, either contact {% clubinfo_email 'SecretaryEmail' sec_name %} any time during the week prior to the session 
        you wish to attend or else just turn up at the pitch and introduce yourself. The cost is &pound;4 or &pound;2 for students and the 
        unwaged. If you're new to the club, your first session is free, as are all the Thursday beginner sessions!
      </p>
    {% endif %}
  </div>
</section>

<section>
  <div class="container g-mb-40">
    <div class="row">
      <div class="col-12 col-lg-8 g-mb-20">
        <div class="card g-brd-primary rounded-0">
          <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
            Next Training Sessions
          </h3>
          {% include 'training/_next_training.html' %}
        </div>
      </div>
      <div class="col-12 col-lg-4 g-mb-20">
        <div class="g-bg-gray-light-v5 g-pa-30 text-center">
          <h4>Make it easy for yourself!</h4>
          <p class="lead g-py-20">
            All Cambridge South training sessions are available as a <strong>.ics calendar feed</strong> that you can link into your own 
            calendar client (Outlook, iPhone etc).
          </p>
          <a class="btn btn-md u-btn-outline-primary g-brd-2 rounded-0" href="{{ calendar }}#feeds"><i class="far fa-calendar-plus g-mr-5"></i>Subscribe</a>
        </div>
      </div>
    </div>
    {% if perms.training.add_trainingsession %}
      <div class="g-py-20">
        <a href="{{ create_training_session }}" title="Add training sessions in bulk" class="btn u-btn-outline-primary">Add training sessions</a>
      </div>
    {% endif %}
    {% model_admin_links 'training' 'trainingsession' %}
  </div>
</section>

{% endblock main %}


{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_dszparallaxer_js.html' %}
{% endblock %}