<div class="season-selector g-mb-10 {{ class }}">
  <div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ season }}
    </button>
    <div class="dropdown-menu dropdown-menu-right season-selector__menu">
      {% if show_current_season_shortcut %}
      <a class="dropdown-item  {% if is_current_season %}active{% endif %}" href="{{ base_url }}">{{ current_season.slug }}</a>
      {% if season_slug_list|length > 1 %}
      {% endif %}
      {% endif %}
      {% for season_slug in season_slug_list %}
      {% if season_slug != current_season.slug %}
      <a class="dropdown-item {% if season_slug == season.slug %}active{% endif %}" href="{% if season_slug == base_season_slug %}{{ base_url }}{% else %}{{ base_url }}{{ season_slug }}{% endif %}">{{ season_slug }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
