commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash - && yum install -y nodejs --enablerepo=epel'
  02_npm_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'yum install -y npm --enablerepo=epel'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    AWS_STORAGE_BUCKET_NAME: "cshc-v3"
    NODE_ENV: "production"
    DJANGO_SETTINGS_MODULE: "cshc.settings.production"
    "PYTHONPATH": "/opt/python/current/app/cshc-web:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/cshc/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "assets/"