commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs --enablerepo=epel'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl -L http://npmjs.org/install.sh | sh'

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py collectstatic --noinput"
  04_npm:
    command: "source /opt/python/run/venv/bin/activate && npm install"
  05_webpack:
    command: "source /opt/python/run/venv/bin/activate && npm run build-production"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    AWS_STORAGE_BUCKET_NAME: "cshc-v3"
    NODE_ENV: "production"
    DJANGO_SETTINGS_MODULE: "cshc.settings.production"
    "PYTHONPATH": "/opt/python/current/app/cshc-web:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/cshc/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "assets/"