
container_commands:
  01_node_modules:
    command: "source /opt/python/run/venv/bin/activate && ln -sfn /opt/code/node_modules node_modules"
  02_dist:
    command: "source /opt/python/run/venv/bin/activate && cp -R /opt/code/src/static/dist src/static/ && cp /opt/code/webpack-stats-prod.json ."
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py migrate --noinput"
    leader_only: true
  04_createsu:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py createsu"
    leader_only: true
  05_compress:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py compress"
  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py collectstatic --noinput"

option_settings:
  "aws:autoscaling:launchconfiguration":
    ImageId: "ami-0fa2cd18747a124cc"
    InstanceType: "t2.micro"
  "aws:elasticbeanstalk:application:environment":
    AWS_STORAGE_BUCKET_NAME: "cshc-v3"
    NODE_ENV: "production"
    DJANGO_SETTINGS_MODULE: "cshc.settings.production"
    "PYTHONPATH": "/opt/python/current/app/src:$PYTHONPATH"
    "PATH": "/opt/python/current/app/src:$PATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/cshc/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "assets/"