packages:
  yum:
    mod24_ssl : []

container_commands:
#   00_clean:
#     command: "rm -rf -- /var/log/letsencrypt /opt/eff.org /opt/certbot /etc/letsencrypt /tmp/certbot-auto"
#   01_download_install_certbot:
#     command: "set -e; wget https://dl.eff.org/certbot-auto -O /tmp/certbot-auto; chmod 0755 /tmp/certbot-auto; /tmp/certbot-auto --install --debug --non-interactive || :"
#   03_request_certificates:
#     command: "/opt/eff.org/certbot/venv/bin/certbot certonly --debug --non-interactive --apache --agree-tos --email website@cambridgesouthhockeyclub.co.uk --domains cshc-web-prod.eu-west-1.elasticbeanstalk.com || :"
  00_fake_letsencrypt:
    command: "mkdir -p /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/ && cp .ebextensions/fullchain.pem /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/"
  01_fake_letsencrypt:
    command: "mkdir -p /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/ && cp .ebextensions/privkey.pem /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/"
  02_fake_letsencrypt:
    command: "mkdir -p /etc/letsencrypt/ && cp .ebextensions/options-ssl-apache.conf /etc/letsencrypt/"
