files:
  /etc/httpd/conf.d/wsgissl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:443>

        Alias /static/ /opt/python/current/app/assets/
        <Directory /opt/python/current/app/assets/>
          Order allow,deny
          Allow from all
        </Directory>

        Alias /.well-known/ /tmp/certbot-root/.well-known/
        <Directory /tmp/certbot-root/.well-known/>
          Order allow,deny
          Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/src/cshc/wsgi.py

        <Directory /opt/python/current/app/>
          Require all granted
        </Directory>

        WSGIDaemonProcess wsgissl processes=3 threads=20 display-name=%{GROUP} \
          python-home=/opt/python/run/venv/ \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib64/python3.6/site-packages:/opt/python/run/venv/lib/python3.6/site-packages user=wsgi group=wsgi \
          home=/opt/python/current/app
        WSGIProcessGroup wsgissl
        ServerName cshc-web-prod.eu-west-1.elasticbeanstalk.com
        SSLCertificateFile /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/fullchain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/cshc-web-prod.eu-west-1.elasticbeanstalk.com/privkey.pem
        Include /etc/letsencrypt/options-ssl-apache.conf
      </VirtualHost>
