{% load render_bundle from webpack_loader %}
{% load cshc_tags %}

<script>
  // The Django urls are passed into a JavaScript object, with placeholder values for
  // parameters. These can then be used to construct actual urls - see '/frontend/js/util/urls.js'
  window.cshcUrls = {
    pkPlaceholder: 999,
    slugPlaceholder: 'slug',
    member_detail: "{% url 'member_detail' 999 %}",
    match_detail: "{% url 'match_detail' 999 %}",
    venue_detail: "{% url 'venue_detail' 'slug' %}",
    clubteam_detail: "{% url 'clubteam_detail' 'slug' %}",
    opposition_club_detail: "{% url 'opposition_club_detail' 'slug' %}",
    match_list: "{% url 'match_list' %}",
    about_committee: "{% url 'about_committee' %}",
    about_committee_season: "{% url 'about_committee_season' 'slug' %}",
  };
  
  window.CSHC_VERSION = '{{ VERSION }}';
  window.STATIC_URL = '{{ STATIC_URL }}';
  window.props = {{ props|json }};
  window.gmapsApiKey = "{{ GMAPS_API_KEY }}";
  window.react_mount = document.getElementById('react-app');
</script>
{% render_bundle 'common' 'js' %}
{% render_bundle bundle_name 'js' %}