{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}

{% block breadcrumbs %}
  {% clear_breadcrumbs %}
  {% breadcrumb "Home" "/" %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Cambridge South Hockey Club{% endblock title %}</title>

  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  {% endblock meta %} 
  
  {% block link %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-hs/style.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-line/css/simple-line-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendor/animate.css" %}">
  
  <link rel="stylesheet" href="{% static "vendor/hamburgers/hamburgers.min.css" %}">
  <link rel="stylesheet" href="{% static "vendor/hs-megamenu/src/hs.megamenu.css" %}">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="{% static "vendor/unify/css/unify.css" %}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static "vendor/unify/css/custom.css" %}"> 
  <link rel="stylesheet" href="{% static "css/theme.css" %}"> 
  
  {% endblock link %} 
  
  {% block head_js %}
  {% endblock head_js %}
</head>

<body>
  <main>
    <header id="js-header" class="u-header {% block header_class %}u-header--static{% endblock %}" data-header-fix-moment="100">
      <div class="u-header__section u-header__section--dark g-transition-0_3 g-py-10 {% block header_section_class %}g-bg-primary{% endblock %}" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
        {% include "core/_nav.html" %}
      </div>
    </header>
    {% if messages %}
    <section class="cshc-messages container g-mt-10">
        {% for message in messages %}
          {% message_alert message=message %}
        {% endfor %}
    </section>
    {% endif %}
    {% block main %}
      <section class="container g-pt-20 g-pb-40">
        {% render_breadcrumbs %}
        {% block content %}{% endblock content %}
      </section>
    {% endblock main %}
    {% include "core/_footer.html" %}
    {% include "blocks/_go_to.html" %}
  </main>

  {% block body_js %}
  <!-- JS Global Compulsory -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/jquery-migrate/jquery-migrate.min.js" %}"></script>
  <script src="{% static "vendor/jquery.easing/js/jquery.easing.js" %}"></script>
  <script src="{% static "vendor/popper.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>

  <!-- JS Unify -->
  <script src="{% static "vendor/unify/js/hs.core.js" %}"></script>
  <script src="{% static "vendor/unify/js/components/hs.header.js" %}"></script>
  <script src="{% static "vendor/unify/js/components/hs.go-to.js" %}"></script>
  <script src="{% static "vendor/unify/js/helpers/hs.hamburgers.js" %}"></script>
  <script src="{% static "vendor/hs-megamenu/src/hs.megamenu.js" %}"></script>

  <script src="{% static "js/util.js" %}"></script>
  <script >
    $(function () {
      $('[data-toggle="popover"]').popover();
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      // Initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu();
      // Initialize tooltips everywhere
      $('[data-toggle="tooltip"]').tooltip();
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
  
  {% comment %} 
    The Django urls are passed into a JavaScript object, with placeholder values for
    parameters. These can then be used to construct actual urls - see '/frontend/js/util/urls.js'
  {% endcomment %}
  <script>
    window.cshcUrls = {
      pkPlaceholder: 999,
      slugPlaceholder: 'slug',
      member_detail: "{% url 'member_detail' 999 %}",
      match_detail: "{% url 'match_detail' 999 %}",
      venue_detail: "{% url 'venue_detail' 'slug' %}",
      clubteam_detail: "{% url 'clubteam_detail' 'slug' %}",
      opposition_club_detail: "{% url 'opposition_club_detail' 'slug' %}",
    };
  </script>
{% endblock body_js %}
</body>

</html>