{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Cambridge South Hockey Club{% endblock title %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  {% block meta %}{% endblock meta %} 
  
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
  <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "ico/apple-touch-icon-57x57.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "ico/apple-touch-icon-60x60.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72x72.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "ico/apple-touch-icon-76x76.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114x114.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "ico/apple-touch-icon-120x120.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144x144.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "ico/apple-touch-icon-152x152.png" %}" />

  <!-- CSS Global Compulsory -->
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
  
  <!-- CSS Unify -->
  <link rel="stylesheet" href="{% static "vendor/unify/css/unify.css" %}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static "vendor/unify/css/custom.css" %}"> 
  <link rel="stylesheet" href="{% static "css/theme.css" %}"> 
  <link rel="stylesheet" href="{% static "css/core.css" %}"> 
  {% endcompress %}
  
  {% block link %}{% endblock link %} 
  
  {% block head_js %}{% endblock head_js %}
</head>

<body>
  <main class="g-min-height-100vh g-flex-centered g-pa-15">
    <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
      <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">
        {% block status_code %}{% endblock status_code %}
      </div>

      <div class="g-absolute-centered">
        <h1 class="g-color-black g-mt-minus-8 mb-0">
          {% block status_text %}{% endblock status_text %}
        </h1>

        <hr class="g-brd-gray-light-v3 g-my-15">

        <p class="g-font-size-18 mb-0"><a href="/" class="g-color-black g-color-primary--hover g-text-no-underline--hover">← Home Page</a>
        </p>
      </div>
    </div>
  </main>
  
  {% block body_js %}
  {% compress js %}
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/jquery-migrate/jquery-migrate.min.js" %}"></script>
  <script src="{% static "vendor/popper.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>
  {% endcompress %}
  {% endblock body_js %}

</body>