{% comment %} 
Reuseable template for a MOM/LOM award
Expects context:
'award_winner' - the award winner model object
{% endcomment %}

{% load cshc_tags %}

<div class="award-card u-shadow-v3 g-bg-secondary g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-20 g-mb-30 d-flex">
  {% profile_pic member=award_winner.member size="200x200" className="mr-3 award-image" %}
  <div class="award-content">
    <h5><a title="View profile" href="{{ award_winner.member.get_absolute_url }}">{{ award_winner.member.full_name }}</a></h5>
    <div class="award-title g-mb-10">{{ award_winner.award }}</div>
    <p class="award-comment">{{ award_winner.comment }}</p>
  </div>
</div>