{% comment %} 
Renders the match report, with title and author.
{% endcomment %}
{% load cshc_tags %}

<div class="g-mb-20 g-color-main">
  <h3>{{ match.match_title_text }}</h3>
  {% if match.report_author %}
    <i class="fas fa-pencil-alt g-mr-5"></i>{{ match.report_author|urlise_model }}
  {% endif %}
</div>
<div class="g-mb-20 cshc-article g-color-main">
  {% if match.report_body.content %}
    {{ match.report_body|strip_new_lines|safe }}
  {% else %}
    <p class="lead g-font-style-italic">No match report (yet)</p>
  {% endif %}
</div>
<div id="sharing" class="g-pt-20">
  <div class="sharethis-inline-share-buttons"></div>
</div>
<div id="comments" class="g-pt-20">
  {% include 'core/_comments.html' with object=match %}
</div>