{% comment %} 
Re-usable template that renders the venue details for a match.

Notes: 
1. The following script must be included in the head:
   https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&region=GB
2. The map must be initialized 
{% endcomment %}

{% load cshc_tags %}

<p class="lead"><a href="{{ venue.get_absolute_url }}" title="Venue Details">{{ venue.name }}</a></p>
<address>
  <strong>
    {% if venue.addr1 %}{{ venue.addr1 }}<br/>{% endif %}
    {% if venue.addr2 %}{{ venue.addr2 }}<br/>{% endif %}
    {% if venue.addr3 %}{{ venue.addr3 }}<br/>{% endif %}
    {% if venue.addr_city %}{{ venue.addr_city }}<br/>{% endif %}
    {% if venue.addr_postcode %}{{ venue.addr_postcode }}<br/><br/>{% endif %}
  </strong>
  {% if venue.phone %}<i class="fa fa-phone g-mr-5"></i>{{ venue.phone }}<br/>{% endif %}
  {% if venue.url %}<i class="fa fa-globe g-mr-5"></i>{{ venue.url|urlize }}{% endif %}
</address>
{% if venue.address_known %}
  {% include 'maps/_map.html' with mapId="map" %}
{% endif %}