{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | {{ match.match_title_text }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Matches" "match_list" %}
{% breadcrumb match.match_title_text "match_detail" slug=match.pk %}
{% endblock %}

{% block link %}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}" />
  <link rel="stylesheet" href="{% static "css/match_detail.css" %}">
  <link rel="stylesheet" href="{% static "css/tabs.css" %}">
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
  {% endcompress %}
  {% if not match.is_in_past %}
  {% include 'react/react_css.html' with bundle_name='MatchDetail' %}
  {% endif %}
{% endblock link %}

{% block head_js %}
  {{ block.super }}
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a197be106d3310011e612b3&product=inline-share-buttons"></script>
  {% if not match.is_in_past %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&region=GB"></script>
  {% endif %}
{% endblock head_js %}

{% block main %}

{% url 'match_detail_edit' match.id as edit_url %}
{% mobile_friendly_image background_image_full as background_image %}

{% include 'core/_messages.html' %}

<section class="g-bg-cover g-bg-size-cover g-bg-pos-bottom-center g-bg-black-opacity-0_7--after" data-bg-img-src="{% static background_image %}" style="background-image: url(&quot;{% static background_image %}&quot;);">
  <div class="match-header container g-pos-rel g-z-index-1 g-py-20">
    <div class="g-py-20 g-py-40--lg g-color-white-opacity-0_8 text-center g-font-size-14 g-font-size-16--md g-font-size-18--lg">
      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% if prev_match %}{{ prev_match.get_absolute_url }}{% else %}#{% endif %}" {% if prev_match %}title="{{ prev_match.fixture_title }}"{% endif %}>
        <i class="fas fa-fw fa-chevron-circle-left g-mr-10"></i></a>
      <a href="#" class="g-color-white-opacity-0_8 g-color-white--hover" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom" data-content="{% filter force_escape %}{% include 'matches/_match_list_popover.html' %}{% endfilter %}" data-original-title="Other matches on {{ match.date|date:'D, d M Y'}}">
        {{ match.date|date:"D, d M Y"}}</a>
      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% if next_match %}{{ next_match.get_absolute_url }}{% else %}#{% endif %}" {% if next_match %}title="{{ next_match.fixture_title }}"{% endif %}>
        <i class="fas fa-fw fa-chevron-circle-right g-ml-10"></i></a>
    </div>
    <table>
      <tbody>
        <tr class="g-font-size-18 g-font-size-24--md g-font-size-35--lg">
          <td class="team-name our-team text-right">
            <a class="g-color-white" href="{{ match.our_team.get_absolute_url }}">{{ match.our_team.abbr_name }}</a>
          </td>
          <td class="team-score">
            <div class="text-center g-color-white">
              {% if match.final_scores_provided %}
                <span class="team-score-box">{{ match.our_score }}</span>
                <span class="team-score-box">{{ match.opp_score }}</span>
              {% elif match.is_off %}
                <span class="team-score-box">{{ match.get_alt_outcome_display }}</span>
              {% else %}
                <span >vs</span>
              {% endif %}
            </div>
          </td>
          <td class="team-name opp-team text-left">
            <a class="g-color-white" href="{{ match.opp_team.club.get_absolute_url }}">{{ match.opp_team.genderless_name }}</a>
          </td>
        </tr>
        <tr>
          <td class="scorers text-right">
            <div class="g-color-white-opacity-0_8 g-font-size-14 g-font-size-16--md g-font-size-18--lg">
              {% for scorer in scorers %}
                <div><a href="{{scorer.member.get_absolute_url}}" title="View profile">{{ scorer.member.full_name }}</a>{% if scorer.goals > 1 %}&nbsp;({{ scorer.goals }}){% endif %}</div>
              {% endfor %}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-end">
      <div class="g-color-white-opacity-0_8 g-pt-20 g-font-size-14 g-font-size-16--md g-font-size-18--lg">
        {% for carded in green_cards %}
          <div class="carded-player">
            <img class="g-mr-5" src="{% static 'img/green_card.png' %}" title="Green card" />
            <a href="{{carded.get_absolute_url}}" title="View profile">{{ carded.full_name }}</a>
          </div>
        {% endfor %}
        {% for carded in yellow_cards %}
          <div class="carded-player">
            <img class="g-mr-5" src="{% static 'img/yellow_card.png' %}" title="Yellow card" />
            <a href="{{carded.get_absolute_url}}" title="View profile">{{ carded.full_name }}</a>
          </div>
        {% endfor %}
        {% for carded in red_cards %}
          <div class="carded-player">
            <img class="g-mr-5" src="{% static 'img/red_card.png' %}" title="Red card" />
            <a href="{{carded.get_absolute_url}}" title="View profile">{{ carded.full_name }}</a>
          </div>
        {% endfor %}
      </div>
      <div class="text-right g-color-white-opacity-0_8 g-pt-20">
        {% if match.time %}<div>{{ match.time_display }}<i class="far fa-clock fa-fw g-ml-5"></i></div>{% endif %}
        {% if match.venue %}<div><a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ match.venue.get_absolute_url }}" title="Venue details">{{ match.venue }}</a><i class="fas fa-map-marker-alt fa-fw g-ml-5"></i></div>{% endif %}
      </div>
    </div>
  </div>
</section>
<section class="container g-pt-20 g-pb-40">
  <!-- Nav tabs -->
  <ul class="nav u-nav-cshc u-nav-primary" role="tablist" data-target="tabs-match-detail" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
    {% if match.is_in_past %}
      {% include 'blocks/_tab_nav.html' with target='tab-report' title='Match Report' active=True %}
      {% include 'blocks/_tab_nav.html' with target='tab-team' title='Team' %}
      {% include 'blocks/_tab_nav.html' with target='tab-awards' title='Awards' %}
    {% else %}
      {% include 'blocks/_tab_nav.html' with target='tab-venue' title='Venue' active=True %}
      {% include 'blocks/_tab_nav.html' with target='tab-previous' title='Fixture History' %}
    {% endif %}
  </ul>
  <!-- End Nav tabs -->

  <!-- Tab panes -->
  <div id="tabs-match-detail" class="tab-content g-pt-20">
    {% if match.is_in_past %}
      {% include 'blocks/_tab.html' with tabId='tab-report' tabContent='matches/_report.html' active=True %}
      {% include 'blocks/_tab.html' with tabId='tab-team' tabContent='matches/_players.html' %}
      {% include 'blocks/_tab.html' with tabId='tab-awards' tabContent='matches/_awards.html' %}
    {% else %}
      {% include 'blocks/_tab.html' with tabId='tab-venue' tabContent='matches/_venue.html' active=True venue=match.venue %}
      {% include 'blocks/_tab.html' with tabId='tab-previous' tabContent='react/react_div.html' %}
    {% endif %}
  </div>
  <!-- End Tab panes -->
  
  <div class="g-pt-20 text-right">
    {% if match.is_in_past %}
      {% instance_admin_links match change=True change_url=edit_url %}
    {% else %}
      {% instance_admin_links match change=True %}
    {% endif %}
  </div>
</section>
{% endblock main %}

{% block body_js %}
{{ block.super }}

{% compress js %}
<script type="text/javascript" src="{% static "fluent_comments/js/ajaxcomments.js" %}"></script>
<script src="{% static "vendor/jquery.fittext.js" %}"></script>
{% endcompress %}

{% include 'blocks/_tabs_js.html' %}
<script>
    $(function () {
      jQuery(".shirt-wrapper .shirt-number").fitText(0.8);
    })
</script>
{% if not match.is_in_past %}
  {% include 'react/react_js.html' with bundle_name='MatchDetail' %}
  {% include 'maps/_map_body_js.html' with venue=match.venue mapId="map" %}
{% endif %}

{% endblock body_js %}