{% extends "base.html" %}
{% comment %}
A React page for editing the details of a match.
{% endcomment %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | Edit Match - {{ match.fixture_title }}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css" %}">
  {% endcompress %}
  {% include 'react/react_css.html' with bundle_name='MatchEdit' %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block main %}
  <section class="container g-pt-20 g-pb-40">
    {% heading match.vs_title %}
    {% include 'react/react_div.html' %}
  </section>
{% endblock main %}

{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_focus_state_js.html' %}

  {% compress js %}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <script src="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
  {% endcompress %}

  {% include 'react/react_js.html' with bundle_name='MatchEdit' %}
{% endblock body_js %}
