{% extends "base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}

{% comment %}
Formatted display of the 'Naughty Step' tables for all members.
This displays the red, yellow and green cards received by all players.
{% endcomment %}

{% block title %}{{ block.super }} | The Naughty Step{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Stats" "stats" %}
  {% breadcrumb "Naughty Step" "naughty_step" %}
{% endblock %}

{% block content %}

<header class="g-mb-20">
    <h2 class="h1 g-font-weight-300 text-uppercase">The Naughty Step
      <div class="btn-group link-dropdown subtitle-dropdown g-mt-7 g-ml-10">
        <button class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ season_slug }}
        </button>
        <div class="dropdown-menu">
          {% for s in season_slug_list %}
          <a class="dropdown-item {% if s == season_slug %}active{% endif %}" href="{% url 'naughty_step' %}{% if s != "All seasons" %}{{ s }}{% endif %}">{{s}}</a>
          {% endfor %}
        </div>
      </div>
    </h2>
  </header>
  


<div class="row g-mb-40">
  <div class="col-12 col-lg-8">
    <p class="lead">So - who are the naughty ones? The players who can't help but accumulate cards. Find out here!</p>
    <p class="lead">The following table orders players first by the number of red cards they've received, then yellow 
      and finally green. If your name is not on the list - well done!</p>
    <div class="alert fade show g-bg-gray-light-v4 rounded-0" role="alert">
      <div class="media">
        <span class="d-flex g-mr-10 g-mt-5">
          <i class="icon-info g-font-size-25"></i>
        </span>
        <span class="media-body align-self-center">
          <strong>Note:</strong> Yellow cards received in league matches are <span style="border-bottom: 2px solid red;">underlined in red</span>. Yellow cards are monitored by the League and players 
          receiving four or more yellow cards in League matches in a season are subject to bans from one or more League matches.
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
      <img class="img-fluid img-thumbnail float-right" src="{% static "img/naughty-step.jpg" %}">    
  </div>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="g-width-200--lg">Player</th>
        <th>Cards</th>
      </tr>
    </thead>
    <tbody>
      {% for p in players %}
        <tr>
          <td class="g-width-200--lg">{{ p.member|urlise_model }}</td>
          <td>
            {% for red_card_app in p.red_cards %}
              <a href="{{ red_card_app.match.get_absolute_url }}" title="Match report...">
                <img class="g-pb-3 umpire-card" src="{% static "img/red_card.png" %}">
              </a>
            {% endfor %}
            {% for yellow_card_app in p.yellow_cards %}
              <a href="{{ yellow_card_app.match.get_absolute_url }}" title="Match report...">
                <img class="g-pb-3 umpire-card {% if yellow_card_app.match.fixture_type == 'League' %}league-card{% endif %}" src="{% static "img/yellow_card.png" %}">
              </a>
            {% endfor %}
            {% for green_card_app in p.green_cards %}
              <a href="{{ green_card_app.match.get_absolute_url }}" title="Match report...">
                <img class="g-pb-3 umpire-card" src="{% static "img/green_card.png" %}">
              </a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}