{% extends "base.html" %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ block.super }} | Venues{% endblock %}

{% block link %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/tables.css" %}">
{% render_bundle 'common' 'css' %}
{% render_bundle 'venueList' 'css' %}
{% endblock link %}

{% block head_js %}
{{ block.super }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_API_KEY }}&region=GB"></script>
{% endblock head_js %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Venues" "venue_list" %}
{% endblock %}

{% block content %}
  {% heading 'Match Venues' %}
  
  <div id="react-app"></div>

{% endblock content %}

{% block body_js %}
  {{ block.super }}
  <script>
    window.props = {{ props|json }};
    window.react_mount = document.getElementById('react-app');
  </script>
  {% render_bundle 'common' 'js' %}
  {% render_bundle 'venueList' 'js' %}
{% endblock body_js %}
