{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | Venues{% endblock %}

{% block link %}
{% include 'blocks/_dszparallaxer_css.html' %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/tables.css" %}">
  {% endcompress %}
  {% include 'react/react_css.html' with bundle_name='VenueList' %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Venues" "venue_list" %}
{% endblock %}

{% block main %}
{% include "blocks/_parallax_hero.html" with image="img/m1-team.jpg" title="Venue List" subtitle="Places where we play" %}
<section class="container g-pt-40 g-pb-40">
  {% include 'react/react_div.html' %}
</section>
{% endblock main %}

  {% block body_js %}
    {{ block.super }}
    {% include 'react/react_js.html' with bundle_name='VenueList' %}
    {% include 'blocks/_dszparallaxer_js.html' %}
  {% endblock body_js %}
