<div class="js-quantity input-group u-quantity-v1 g-width-170 g-brd-primary--focus{% if input_group_class %} {{ input_group_class }}{% endif %}">
  <div class="js-minus input-group-prepend g-width-55 g-color-gray">
    <span class="input-group-text rounded-0 w-100"><i class="ti ti-minus"></i></span>
  </div>
  {% include "django/forms/widgets/text.html" %}
  <div class="js-plus input-group-append g-width-55 g-color-gray">
    <span class="input-group-text rounded-0 w-100"><i class="ti ti-plus"></i></span>
  </div>
</div>