<div class="input-group g-brd-primary--focus{% if input_group_class %} {{ input_group_class }}{% endif %}">
  {% if left_icon %}
  <div class="input-group-prepend">
    <span class="input-group-text rounded-0 g-color-gray-light-v1">
      <i class="{{ left_icon }}"></i>
    </span>
  </div>
  {% endif %}
  {% include "django/forms/widgets/text.html" %}
  {% if right_icon %}
  <div class="input-group-append">
    <span class="input-group-text rounded-0 g-color-gray-light-v1">
      <i class="{{ right_icon }}"></i>
    </span>
  </div>
  {% endif %}
</div>