.filter {
  display: flex;
  align-items: center;
}

.filterLabel {
  flex: 1 auto;
  padding-right: 10px;
}

.filterControl {
  flex: 0;
  display: flex;
}

.inline + .inline {
  margin-left: 10px;
}

// Import react-select styles
.select {
  .filterLabel {
    flex: 0 auto;
  }

  .filterControl {
    flex: 1 auto;
    display: block;
  }

  :global {
    @import 'node_modules/react-select/scss/default.scss';
  }
}

// If this style is applied to a SelectFitler, the dropdown menu will always open upwards
.upwards {
  :global {
    .Select-menu-outer {
      top: auto;
      bottom: 100%;
    }
  }
}
