<div class="form-group {% if error %}u-has-error-v1 {% endif %}row g-mb-25">
  {% if hide_label %}
    <div class="col-sm-3"></div>
  {% else %}
    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label g-mb-10">
      {% if label %}
        {{ label }}
      {% else %}
        {{ field.label }}
      {% endif %}
    </label>
  {% endif %}
  <div class="col-sm-9">
    <div class="input-group g-brd-primary--focus">
      {% if field_icon %}
      <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
        <i class="{{ field_icon }}"></i>
      </div>
      {% endif %}
      {{ field }}
    </div>
    {% if error %}<small class="form-control-feedback d-block g-bg-red g-color-white g-font-size-12 g-px-14 g-py-3 mt-0">{{ error }}</small>{% endif %}
    {% if field.help_text %}<small class="form-text text-muted g-font-size-default g-mt-10">{{ field.help_text }}</small>{% endif %}
  </div>
</div>