.name {
  flex: 1;
}
.cards {
  flex: 0 auto;
  display: flex;
  width: 120px;
  justify-content: center;
}
.goals {
  flex: 0 auto;
  display: flex;
  width: 86px;
  justify-content: center;
}
.remove {
  flex: 0 auto;
  width: 34px;
  justify-content: center;
}
.appearance {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-top: 1px solid #f3f3f3;
  &:focus,
  &:hover {
    background-color: #f8f8f8;
  }
}
