.home-banner .g-color-white a {
  color: rgb(216, 221, 255);
}
.home-banner .g-color-white a:hover {
  color: rgb(177, 186, 252);
}

.home-banner .table td,
.home-banner .table tr {
  border: none;
}
.home-banner .table .match td {
  padding: 0;
}
.home-banner .table .match td a {
  display: inline-block;
  min-height: 100%;
  width: 100%;
  padding: 0.3rem;
}

@media (min-width: 768px) {
  .home-banner .table .match td a {
    padding: 0.1rem 0.3rem;
  }
}

.home-banner .table .match td a,
.home-banner .table .match td a:hover {
  color: #fff;
  text-decoration: none;
}

.home-banner tr.match {
  cursor: pointer;
}

.home-banner tr.match.my-match {
  background-color: rgba(12, 82, 11, 0.8);
}

.home-banner tr.match:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.home-banner .gender-mens a,
.home-banner .gender-mens a:hover {
  color: #6aa84f !important;
}
.home-banner .gender-ladies a,
.home-banner .gender-ladies a:hover {
  color: #6fa8dc !important;
}
.home-banner .result {
  display: inline-block;
  font-weight: bold;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.home-banner .result.result-won {
  background-color: #72c02c;
}
.home-banner .result.result-lost {
  background-color: #ff0000;
}
.home-banner .result.result-drawn {
  background-color: #999999;
}
@media (max-width: 768px) {
  .home-banner .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .home-banner .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.home-banner tr.date td {
  padding: 0;
}

#training td,
#training th {
  text-align: left;
}
