.match-header table {
  width: 100%;
  table-layout: fixed;
  min-width: 290px;
}
.match-header a {
  color: rgba(255, 255, 255, 0.8);
}
.match-header a:hover {
  color: white;
}
td.team-score {
  white-space: nowrap;
}

td.team-name {
  width: 50%;
}
.team-name.our-team,
td.scorers {
  padding-right: 1rem;
}
.team-name.opp-team {
  padding-left: 1rem;
}
.team-name a {
  line-height: 1.2;
  font-weight: 600;
}
.team-score-box {
  background-color: #6639b6;
  padding: 5px 10px;
}
.award-card {
  position: relative;
}
.award-card.man-of-the-match {
  border-color: #07d807 !important;
}
.award-card.lemon-of-the-match {
  border-color: #e2e277 !important;
}
.award-title {
  font-style: italic;
  font-weight: bold;
}
.award-image {
  flex: 1;
}
.award-content {
  flex: 3;
}

/* Default scored layout */
.match-header .team-col--scored {
    width: 46%;
}
.match-header .score-col--scored {
    width: 12%;
}

/* No score yet: just "vs" */
.match-header .team-col--vs {
    width: 48.5%;
}
.match-header .score-col--vs {
    width: 3%;
}

/* Postponed / Cancelled */
.match-header .team-col--off {
    width: 40%;
}
.match-header .score-col--off {
    width: 20%;
}

/* Narrow */
@media (max-width: 600px) {
    .match-header .team-col--scored {
        width: 42.5%;
    }
    .match-header .score-col--scored {
        width: 15%;
    }

    .match-header .team-col--vs {
        width: 47.5%;
    }
    .match-header .score-col--vs {
        width: 5%;
    }

    .match-header .team-col--off {
        width: 37.5%;
    }
    .match-header .score-col--off {
        width: 25%;
    }
}

/* Very narrow */
@media (max-width: 400px) {
    .match-header .team-col--scored {
        width: 40%;
    }
    .match-header .score-col--scored {
        width: 20%;
    }

    .match-header .team-col--vs {
        width: 46%;
    }
    .match-header .score-col--vs {
        width: 8%;
    }

    .match-header .team-col--off {
        width: 35%;
    }
    .match-header .score-col--off {
        width: 30%;
    }
}
