@media only screen and (max-width: 768px) {
  .table th.priority2,
  .table td.priority2 {
    display: none;
  }
  .table th.priority3,
  .table td.priority3 {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .table th.priority4,
  .table td.priority4 {
    display: none;
  }
}

table td .ellipsis-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.3rem;
}

table td .ellipsis-overflow {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
