
<table width="200" height="44" cellpadding="0" cellspacing="0" border="0" bgcolor="#6639b6" style="border-radius:4px;">
  <tr>
    <td align="center" valign="middle" height="44" style="font-family: Arial, sans-serif; font-size:14px; font-weight:bold;">
      <a href="{{  base_url }}{{ link }}" target="_blank" style="font-family: Arial, sans-serif; color:#ffffff; display: inline-block; text-decoration: none; line-height:44px; width:200px; font-weight:bold;">{{ label }}</a>
    </td>
  </tr>
</table>
{% include 'emails/html/_spacer.html' %}