<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#6639b6">
      <tr height="40" style="background-color: #111;">
        <td height="40" align="center" valign="center" style="vertical-align: middle;">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" valign="center" style="color: #fff; margin: 10px 0;">
                Cambridge South Hockey Club
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>