{% load static %}
<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#6639b6">
      <tr height="90px">
        <td height="90px" align="center" valign="center" style="vertical-align: middle;">
          <div class="container">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="left" valign="center">
                  <img src="{% static "img/logo.png" %}" width="200" height="48" style="margin:0; padding:0; border:none; display:block;" border="0" alt="CSHC Logo">
                </td>
                <td align="right" valign="center">
                  <a href="https://www.facebook.com/cambridgesouthhc/" target="_blank">
                    <img src="{% static "img/facebook.png" %}" width="32" height="32" style="margin:0; padding:0; border:none; display:block;" border="0" alt="Facebook logo">
                  </a>
                </td>
                <td align="right" valign="center">
                  <a href="https://twitter.com/cambsouthhc" target="_blank">
                    <img src="{% static "img/twitter.png" %}" width="32" height="32" style="margin:0; padding:0; border:none; display:block;" border="0" alt="Twitter logo">
                  </a>
                </td>
                <td align="right" valign="center">
                  <a href="https://www.instagram.com/cambsouthhc/" target="_blank">
                    <img src="{% static "img/instagram.png" %}" width="32" height="32" style="margin:0; padding:0; border:none; display:block;" border="0" alt="Instagram logo">
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>