{% load static %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#6639b6">
  <tr height="90px" >
    <td align="center" valign="center">

      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="left" valign="center">
            <img src="{% static "img/logo.png" %}" width="200" height="48" style="margin:0; padding:0; border:none; display:block;"
              border="0" class="img" alt="CSHC Logo">
          </td>
          <td align="right" valign="center">
            <a href="https://www.facebook.com/cambridgesouthhc/" target="_blank">
              <img src="{% static "img/facebook.png" %}" width="32" height="32" style="margin:0; padding:0; border:none; display:block;" border="0" class="img"
                alt="Facebook link">
            </a>
          </td>
          <td align="right" valign="center">
            <a href="https://twitter.com/cambsouthhc" target="_blank">
              <img src="{% static "img/twitter.png" %}" width="32" height="32" style="margin:0; padding:0; border:none; display:block;" border="0" class="img"
                alt="Twitter link">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>