{% extends "emails/html/base.html" %}
{% load static from staticfiles %}
{% load cshc_tags %}
{% block title %}CSHC - Message Received{% endblock title %}

{% block content %}
<tr bgcolor="#ffffff">
  <td align="center">
    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
      {% include 'emails/html/_spacer.html' %}
      {% include 'emails/html/_title.html' with text="Thanks for contacting us!" %}
      {% include 'emails/html/_paragraph.html' with text=first_name|formatstr:"Hi {}," %}
      {% include 'emails/html/_paragraph.html' with text="We'll get back to you as soon as possible." %}
      <tr>
        <td>
          {{ secretary_name }}
        </td>
      </tr>
      <tr>
        <td style="font-style: italic;">
          Club Secretary
        </td>
      </tr>
      {% include 'emails/html/_spacer.html' %}
      {% if message %}
      <tr>
        <td style="line-height: 2;">
          Your message:
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F2F2" >
            {% include 'emails/html/_spacer.html' %}
            <tr style="font-style: italic;">
              <td width="10"></td>
              <td>
                  {{ message }}
              </td>
              <td width="10"></td>
            </tr>
            {% include 'emails/html/_spacer.html' %}
          </table>
        </td>
      </tr>
      {% include 'emails/html/_spacer.html' %}
      {% endif %}
   </table>
  </td>
</tr>
{% endblock content %}