{% extends "emails/html/base.html" %}
{% load static %}
{% load cshc_tags %}
{% block title %}CSHC - Message Received{% endblock title %}
{% block preheader %}We've received your message!{% endblock %}

{% block content %}

<table role="presentation" class="main" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="center" align="center">
            <h1>Thanks for contacting us!</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p>Hi {{ first_name }},</p>
            <p>We'll get back to you as soon as possible.</p>
          </td>
        </tr>
        <tr>
          <td>
            {{ secretary_name }}
          </td>
        </tr>
        <tr>
          <td style="font-style: italic;">
            <p>Club Secretary</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Your message:</p>
          </td>
        </tr>
        <tr>
          <td>
            {% include 'emails/html/_quote.html' with message=message %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock content %}