{% extends "emails/html/base.html" %}
{% load static %}
{% load cshc_tags %}
{% block title %}CSHC - Juniors Contact Form Submitted{% endblock title %}
{% block preheader %}{{ message }}{% endblock %}

{% block content %}
<tr bgcolor="#ffffff">
  <td align="center">
    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
      {% include 'emails/html/_spacer.html' %}
      {% include 'emails/html/_title.html' with text=name|formatstr:"Message from <strong>{}</strong> regarding Juniors" %}
      <tr>
        <td>
          <table width="580" cellpadding="0" cellspacing="0" border="0" style="line-height: 2;" >
            <tr>
              <td style="font-style: italic;">Message</td>
              <td style="font-weight: 600;">{{ message }}</td>
            </tr>
            <tr>
              <td style="font-style: italic;">Email</td>
              <td style="font-weight: 600;"><a href="mailto:{{ sender_email }}">{{ sender_email }}</a></td>
            </tr>
            <tr>
              <td style="font-style: italic;">Phone</td>
              <td style="font-weight: 600;">{{ phone }}</td>
            </tr>
            <tr>
              <td style="font-style: italic;">Child</td>
              <td style="font-weight: 600;">{{ child_name }} ({% autoescape off %}{{ child_age }}{% endautoescape %}, {{ child_gender }})</td>
            </tr>
            <tr>
              <td style="font-style: italic;">Mailing List</td>
              <td style="font-weight: 600;">{% if join_mail_list %}Yes{% else %}No {% endif %}</td>
            </tr>
            {% if trigger %}
            <tr>
              <td style="font-style: italic;">How did they hear about CSHC?</td>
              <td style="font-weight: 600;">{{ trigger }}</td>
            </tr>
            {% endif %}
          </table>
        </td>
      </tr>
      {% include 'emails/html/_spacer.html' %}
   </table>
  </td>
</tr>
{% endblock content %}