{% extends "emails/html/base.html" %}
{% load static from staticfiles %}
{% load cshc_tags %}
{% block title %}CSHC - Player Link Request{% endblock title %}

{% block content %}
{% url 'admin:members_member_changelist' as admin_url_list %}

<tr bgcolor="#ffffff">
  <td align="center">
    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
      {% include 'emails/html/_spacer.html' %}
      {% include 'emails/html/_paragraph.html' with text=user.get_full_name|formatstr:"<strong>{}</strong> has requested their account be linked to a player/club member." %}
      <tr>
        <td>
            To action this, find the matching 'Member' entry in the <a href="{{ base_url }}{{ admin_url_list }}">admin interface</a>, set the 'User' property to '{{ user.get_full_name }}' from the dropdown list, and save it.
        </td>
      </tr>
      {% include 'emails/html/_spacer.html' %}
   </table>
  </td>
</tr>
{% endblock content %}