{% load static from staticfiles %}
{% load account socialaccount %}

<nav class="js-mega-menu navbar navbar-expand-lg hs-menu-horizontal">
  <div class="container">
    <!-- Responsive Toggle Button -->
    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
      <span class="hamburger hamburger--slider">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
      </span>
      </span>
    </button>
    <!-- End Responsive Toggle Button -->

    <!-- Logo -->
    <a href="/" class="navbar-brand">
      <img src="{% static "img/logo.png" %}" alt="CSHC Logo">
    </a>
    <!-- End Logo -->

    <!-- Navigation -->
    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
      <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
        
        <!-- Teams -->
        <li class="hs-has-mega-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="left" data-max-width="70%">
          <a id="mega-menu-label-teams" href="#" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false">Teams
              <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
          </a>
          <div class="w-100 hs-mega-menu u-shadow-v11 font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-bg-black g-mt-21 g-mt-11--lg--scrolling" aria-labelledby="mega-menu-label-teams" style="display: none;">
              <div class="row align-items-stretch no-gutters">
                {% for team in TEAMS %}
                <div class="col-lg-4 g-mt-10 {% if not forloop.first %}g-brd-left--lg g-brd-gray-light-v5{% endif %}">
                  <h4 class="h5 text-uppercase g-font-weight-600">{{ team.title }}</h4>
                  <ul class="list-unstyled">
                    {% for item in team.list %}
                    <li class="dropdown-item">
                      <a href="{% url 'clubteam_detail' item.0 %}" class="nav-link">{{ item.1 }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
              </div>
          </div>
        </li>

        <!-- Club -->
        <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="left"  data-max-width="55%">
          <a id="mega-menu-label-club" href="#" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false">Club
            <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
          </a>
          <div class="w-100 hs-mega-menu u-shadow-v11 font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-bg-black g-mt-21 g-mt-11--lg--scrolling" aria-labelledby="mega-menu-label-club" style="display: none;">
            <div class="row align-items-stretch no-gutters">
              <div class="col-lg-6 g-mt-10">
                  <h4 class="h5 text-uppercase g-font-weight-600">Playing</h4>
                  <ul class="list-unstyled">
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Join Us</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Directions</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Training</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Fees</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Kit</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 g-mt-10 g-brd-left--lg g-brd-gray-light-v5">
                  <h4 class="h5 text-uppercase g-font-weight-600">Club Info</h4>
                  <ul class="list-unstyled">
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">News</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Social</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Committee</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Calendar</a>
                    </li>
                    <li class="dropdown-item">
                      <a href="#" class="nav-link">Members Offers</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </li>

        <li class="nav-item g-mx-10--lg g-mx-15--xl">
          <a href="#" class="nav-link g-py-7 g-px-0">Juniors
          </a>
        </li>

        <li class="nav-item g-mx-10--lg g-mx-15--xl">
          <a href="#" class="nav-link g-py-7 g-px-0">Matches
        
          </a>
        </li>

        <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
          <a id="nav-link--stats" href="#" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--stats">Stats
          </a>
          <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-bg-black g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling" id="nav-submenu--stats" aria-labelledby="nav-link--stats" style="display: none;">
            <li class="dropdown-item g-brd-bottom g-brd-white">
              <a href="{% url 'stats' %}" class="nav-link">Overview</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'goal_king' %}" class="nav-link">Goal King</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'southerners_league' %}" class="nav-link">Southerners League</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'opposition_club_list' %}" class="nav-link">Rivals</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'accidental_tourist' %}" class="nav-link">Accidental Tourist</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'playing_record' %}" class="nav-link">Playing Records</a>
            </li>
            <li class="dropdown-item">
              <a href="{% url 'naughty_step' %}" class="nav-link">The Naughty Step</a>
            </li>
          </ul>
        </li>

        <li class="nav-item g-mx-10--lg g-mx-15--xl">
          <a href="#" class="nav-link g-py-7 g-px-0">Contact Us
        
          </a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
          <a id="nav-link--user" href="#" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--stats">{{ request.user.get_short_name }}
          </a>
          <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-bg-black g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling" id="nav-submenu--user" aria-labelledby="nav-link--user" style="display: none;">
            <li class="dropdown-item">
              <a href="#" class="nav-link">Profile</a>
            </li>
            {% if user.is_staff %}
            <li class="dropdown-item">
              <a href="/admin/" target="_blank" class="nav-link">Admin</a>
            </li>
            {% endif %}
            <li class="dropdown-item">
                <form id="logout_form" method="post" action="{% url 'account_logout' %}">{% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
                  <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logout_form').submit();">Log out</a>
                </form>
            </li>
          </ul>
        </li>
        {% else %}
        {% get_providers as socialaccount_providers %}
        <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-position="left">
          <a id="mega-menu-label-login" href="#" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false">Sign In
            <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
          </a>
          <div class="w-100 g-bg-black hs-mega-menu u-shadow-v11 font-weight-normal g-brd-top g-brd-primary g-brd-top-2 g-mt-21 g-mt-11--lg--scrolling" aria-labelledby="mega-menu-label-login" style="display: none;">
            <form class="g-pa-30" action="{% url 'account_login' %}" method="post">{% csrf_token %}
              <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
              <div class="g-max-width-780 mx-auto">
                <div class="row">
                  <div class="col-lg-5 g-mb-20 g-mb-0--lg">
                      <input class="form-control g-color-white g-color-white--focus g-bg-transparent g-bg-transparent--focus g-brd-white-opacity-0_3 g-brd-white--focus g-py-13 g-px-15" type="email" name="login" placeholder="Email" tabindex="1">
                      <small class="d-block g-px-15 g-py-5">
                      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'account_signup' %}">Create a new account</a>
                    </small>
                  </div>
        
                  <div class="col-lg-5 g-mb-20 g-mb-0--lg">
                    <input class="form-control g-color-white g-color-white--focus g-bg-transparent g-bg-transparent--focus g-brd-white-opacity-0_3 g-brd-white--focus g-py-13 g-px-15" type="password" name="password" placeholder="Password" tabindex="2">
                    <small class="d-block g-px-15 g-py-5">
                      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'account_reset_password' %}">Forgotten password?</a>
                     </small>
                  </div>
        
                  <div class="col-lg-2 text-md-right text-lg-left">
                    <button class="btn u-btn-primary text-uppercase g-py-13 g-px-15" type="submit" tabindex="3">Sign In</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="d-block g-pt-15">
                      <label class="u-check g-pl-25 g-color-white-opacity-0_8 g-color-white--hover">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="remember"  checked="">
                        <div class="u-check-icon-checkbox-v4 g-color-white g-color-white--focus g-bg-transparent g-bg-transparent--focus g-brd-white-opacity-0_3 g-brd-white--focus g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon=""></i>
                        </div>
                        Keep signed in
                      </label>
                    </div>
                  </div>
                </div>
                {% if socialaccount_providers %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-center text-center g-mb-30">
                      <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                      <span class="align-self-center g-color-gray-dark-v3 mx-4">OR</span>
                      <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                    </div>
                    {% include 'account/_social_auth.html' %}    
                  </div>              
                </div>
                {% endif %}
              </div>
            </form>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- End Navigation -->
  </div>
</nav>