{% load thumbnail from sorl_thumbnail %}
{% load static %}
{% load i18n %}

<div class="row justify-content-center">
  
  {% for entry in entries %}
  <div class="col-lg-4 g-mb-30">
    <article class="g-bg-white u-shadow-v22">
      
      <figure class="g-pos-rel">
        {% thumbnail entry.image "350x233" crop="center" as thumb %}
        <img class="img-fluid w-100" src="{{ thumb.url }}" alt="{{ entry.image_caption }}">
        {% empty %}
        <img class="img-fluid w-100" src="{% static "img/blog_placeholder.png" %}" alt="{{ entry.image_caption }}">
        {% endthumbnail %}
        <figcaption class="text-uppercase text-center g-line-height-1_2 g-bg-primary-opacity-0_8 g-color-white g-pos-abs g-top-20 g-px-15 g-py-10">
          <strong class="d-block">{{ entry.publication_date|date:"d" }}</strong>
          <hr class="g-brd-white my-1">
          <small class="d-block">{{ entry.publication_date|date:"M" }}</small>
        </figcaption>
      </figure>
      

      <div class="g-pa-30">
        <h3 class="h5 g-mb-15">
          <a class="u-link-v5 g-color-primary--hover" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
        </h3>

        <p>{{ entry.html_preview|striptags|safe }}</p>

        <hr class="g-brd-gray-light-v4 g-my-20">

        <ul class="list-inline small text-uppercase mb-0">
          {% with authors=entry.authors.all %}
          {% if authors|length %}
          <li class="list-inline-item">
            <span class="g-color-gray-dark-v4">By</span>
            {% for author in authors %}
              <a class="u-link-v5 g-color-main g-color-primary--hover" href="{{ author.get_absolute_url }}" title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">
                {{ author.get_full_name }}
              </a>
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          {% endif %}
          {% endwith %}
        </ul>
      </div>
    </article>
  </div>
  {% endfor %}
</div>