{% extends "base.html" %}
{% load cshc_tags %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load unify %}

{% comment %}
Contact Us page with contact form
{% endcomment %}

{% block title %}{{ block.super }} | Contact Us{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}

{% url 'upcoming_trainingsession_list' as training %}
{% url 'contact_us' as contact_us %}

<div class="g-pt-80--md">
  {% include 'blocks/_middle_heading.html' with title="We'd like to hear from you" subtitle="We are always looking for new players, whether experienced or new to the sport!" %}
</div>

<div class="row text-center justify-content-md-center">
  <div class="col-md-8">
    <p class="lead">
      If you're interested in playing hockey with us, whether casually or competitively, or would just like more information about the club, 
      simply fill in this form. Joining the club mailing lists means you will receive email alerts about games, training, socials etc.
    </p>
    <p class="lead">
      Alternatively, come along to our evening <a href="{{ training }}">club training</a> and introduce yourself.
    </p>
  </div>
</div>

<form class="g-pt-40" action="{{ contact_us }}" method="post">
  {% unify_form_non_field_errors %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% csrf_token %}
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      {% unify_form_field 'first_name' 'inline' %}
    </div>
    <div class="col-md-4">
      {% unify_form_field 'last_name' 'inline' %}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      {% unify_form_field 'email' 'inline' %}
    </div>
    <div class="col-md-4">
      {% unify_form_field 'phone' 'inline' %}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {% unify_form_field 'message' 'inline' %}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {% unify_form_field 'mailing_list' 'inline' hide_label=True %}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="form-group">
        {{ form.captcha }}
        {% if form.errors.captcha %}<small class="form-control-feedback">{{ form.errors.captcha }}</small>{% endif %}
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      {% unify_form_submit_button 'Send' 'inline' %}
      {% unify_form_required_fields_footnote 'inline' %}
    </div>
  </div>
</form>

{% endblock %}


{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_focus_state_js.html' %}
{% endblock %}