{% extends "base.html" %}
{% load cshc_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% comment %}
Static landing page for stats - mainly a redirect from the old site.
{% endcomment %}

{% block title %}{{ block.super }} | Stats{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Stats" "stats" %}
{% endblock %}

{% block content %}

{% url 'member_list' as member_list_url %}
{% url 'playing_record' as playing_record_url %}
{% url 'goal_king' as goal_king_url %}
{% url 'southerners_league' as southerners_league_url %}
{% url 'opposition_club_list' as opposition_club_list_url %}
{% url 'accidental_tourist' as accidental_tourist_url %}
{% url 'naughty_step' as naughty_step_url %}
{% url 'end_of_season_award_winners_list' as award_winners_url %}

{% heading 'Club Statistics' %}

<div class="row g-mb-40">
  <div class="col-12 col-lg-8">
    <blockquote class="blockquote g-bg-gray-light-v5 g-brd-primary g-font-size-16 g-pa-40 g-mb-30">
      <p>Life is not just a series of calculations and a sum total of statistics,
        it's about experience, it's about participation, it is something more complex
        and more interesting than what is obvious.</p>
        <footer class="blockquote-footer">Daniel Libeskind</footer>
    </blockquote>

    <p class="lead">...that being said, we like our statistics here at Cambridge South! You'll find statistics
    on each <a href="{% url 'member_list' %}">club member</a>, on the various <a href="{% url 'clubteam_list' %}">Cambridge
    South teams</a> and on all the <a href="{% url 'opposition_club_list' %}">opposition clubs</a> we've played against.</p>

    <p class="lead">In addition, we have some special statistics - and the collection is growing!</p>
  </div>
  <div class="col-12 col-lg-4">
    <img class="img-fluid img-thumbnail float-right g-hidden-sm-down" src="{% static "img/stats_screen.jpg" %}">
  </div>
</div>

<div class="row">
  {% include 'core/_stats_item.html' with icon="fas fa-user" icon_color="pink" link=member_list_url title="Member Playing Records" description="Who's played the most matches for the club? Scored the most goals?" %}
  {% include 'core/_stats_item.html' with icon="fas fa-users" icon_color="cyan" link=playing_record_url title="Team Playing Records" description="Season summaries for each team." %}
  {% include 'core/_stats_item.html' with icon="fas fa-chart-bar" icon_color="red" link=southerners_league_url title="Southerner's League" description="How do the various Cambridge South teams stack up against each other?" %}
  {% include 'core/_stats_item.html' with icon="fas fa-table" icon_color="orange" link=opposition_club_list_url title="Rivals" description="Comprehensive stats on Cambridge South's performance against each rival club." %}
  {% include 'core/_stats_item.html' with icon="fas fa-car" icon_color="blue" link=accidental_tourist_url title="Accidental Tourist" description="Who's travelled the furthest for the cause? And who is a 'Reluctant Traveller'?" %}
  {% include 'core/_stats_item.html' with icon="fas fa-user-clock" icon_color="teal" link=naughty_step_url title="The Naughty Step" description="Cambridge South's very own Wall Of Shame - sort of! Find out which players the umpires have carded the most." %}
  {% include 'core/_stats_item.html' with icon="fas fa-trophy" icon_color="bluegray" link=award_winners_url title="End of Season Awards" description="Each season we hand out lots of awards. Find out who's won them each year." %}
</div>
{% endblock %}

