<a target="_blank" title="Directions" class="gmap-dir-link btn btn-xl u-btn-outline-primary u-btn-content g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-mr-10 g-mb-15">
  <i class="fa fa-car pull-left g-font-size-42 g-mr-10"></i>
  <span class="float-right text-left">
      Driving Directions
    <span class="d-block g-font-size-11">From Cambridge</span>
  </span>
</a>

<script >
  $(function () {
    var address = "{{ address }}";
    var directions_link_prefix = '//maps.google.com/?saddr=Cambridge,UK&daddr=';

    if ( isMobile.iOS()) {
      directions_link_prefix = '//maps.apple.com/?saddr=Cambridge,UK&daddr=';
    }
    else if ( isMobile.Android()) {
      directions_link_prefix = 'geo:0,0?saddr=Cambridge,UK&daddr=';
    }

    var directions_link = $(".gmap-dir-link");
    directions_link.attr('href',  directions_link_prefix + address);
  });
</script>