{% comment %} 
JavaScript initialization of a map or maps

Expects context containing:
  mapId - the ID of the map div element
  venue - a Venue model instance
{% endcomment %}
 
{% load static %}
{% load compress %}

{% compress js %}
<script type="text/javascript" src="{% static "vendor/gmap3/gmap3.min.js" %}"></script>
{% endcompress %}

<script >
  window.gmapsApiKey = "{{ GMAPS_API_KEY }}";
    
  $(function () {
    var position = [{{ venue.position }}];
    var address = position.length ? null : "{{ venue.full_address }}";
    
    $('#{{ mapId }}')
    .gmap3({
      address:address,
      center: position.length ? position : null,
      zoom: 14,
      scrollwheel: true,
      mapTypeId : google.maps.MapTypeId.ROADMAP
    })
    .marker({
      address: address, 
      position: position.length ? position : null,
    });
  });
</script>