{% extends "emails/html/base.html" %}
{% load static from staticfiles %}
{% load cshc_tags %}
{% block title %}CSHC - Password Reset{% endblock title %}
{% block preheader %}Click the link to reset your password.{% endblock %}

{% block content %}
<tr bgcolor="#ffffff">
  <td align="center">
    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
      {% include 'emails/html/_spacer.html' %}
      {% include 'emails/html/_paragraph.html' with text="You're receiving this e-mail because you or someone else has requested a password for your user account." %}
      {% include 'emails/html/_paragraph.html' with text="It can be safely ignored if you did not request a password reset. Click the link below to reset your password." %}
      <tr>
        <td align="center" valign="center">
          {% include 'emails/html/_button.html' with label="Reset Password" link=password_reset_url %}
        </td>
      </tr>
      {% if username %}
      {% include 'emails/html/_paragraph.html' with text=username|formatstr:"In case you forgot, your username is {}." %}
      {% endif %}
      {% include 'emails/html/_paragraph.html' with text=current_site.name|formatstr:"Thank you for using {}!" %}
   </table>
  </td>
</tr>
{% endblock content %}
