{% extends "emails/html/base.html" %}
{% load static %}
{% load cshc_tags %}
{% block title %}CSHC - Password Reset{% endblock title %}
{% block preheader %}Click the link to reset your password.{% endblock %}

{% block content %}

<table role="presentation" class="main" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="center" align="center">
            <h1>Password Reset Requested</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
            <p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>

            {% include 'emails/html/_button.html' with label="Reset Password" link=password_reset_url primary=True %}
            {% if username %}
            <p>In case you forgot, your username is {{ username }}.</p>
            {% endif %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock content %}