{% extends "comments/base.html" %}
{% load i18n cshc_tags django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Remove a comment" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}
  {% heading "Really remove this comment?" %}
  <blockquote>{{ comment|linebreaks }}</blockquote>
  <form action="." method="post">{% csrf_token %}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}" id="next"/></div>{% endif %}
    <p class="submit">
      <input class="btn u-btn-primary" type="submit" name="submit" value="{% trans "Remove" %}"/> or <a href="{{ comment.get_absolute_url }}">cancel</a>
    </p>
  </form>
{% endblock %}
