{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | About Us{% endblock %}

{% block link %}
  {% include 'blocks/_dszparallaxer_css.html' %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-line/css/simple-line-icons.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block main %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'cantabs' as cantabs_url %}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll is-touch" data-options="{
  settings_mode_oneelement_max_offset: '150'
 }">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(&quot;{% static "img/club_night.jpg" %}&quot;); transform: translate3d(0px, 0px, 0px);"></div>
  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-black-opacity-0_6--after g-py-20">
    <div class="container text-center u-bg-overlay__inner">
      <h2 class="g-font-size-60 g-mb-80">Cambridge South Hockey Club</h2>
      <p class="g-font-size-32 g-font-style-italic">Who - What - Where - How</p>
    </div>
  </section>
</div>

{% include 'core/_messages.html' %}

<section class="container g-my-60 text-center">
  <div class="row justify-content-md-center">
    <div class="col-lg-9 text-center">
      {% include 'blocks/_middle_heading.html' with title="Background" %}
      <div class="g-font-size-16 g-font-size-24--md">
        <p>Cambridge South Hockey Club is based in the city of Cambridge, UK.</p>
        <p>The club runs four ladies' league teams and five men's league teams, playing on Saturdays during the season, along with a social mixed team on occasional Sundays.</p>
        <p>We offer opportunities for both experienced players and those new to the sport to play at a level that suits them.</p> 
        <p>A new junior section was formed in 2016, training on Saturday mornings before the senior games.</p>
      </div>
    </div>
  </div>
</section>

<section class="g-flex-centered g-bg-img-hero u-bg-overlay g-bg-black-opacity-0_7--after g-color-white-opacity-0_7 g-py-60" style="background-image: url(&quot;{% static "img/astro1.png" %}&quot;);">
  <div class="container u-bg-overlay__inner">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 text-center">
        <p class="g-font-size-16 g-font-size-30--md g-color-white mb-0 g-line-height-1_5">
          In 2014 the club moved to the brand new pitch at Long Road Sixth Form College, laid by the London 2012 pitch contractors. 
          Our club house, shared with Cantabs RUFC, is situated immediately opposite the college.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="container g-mt-60 g-mb-30 text-center">
  <div class="row">
    <div class="col-lg-4 g-mb-30">
      <div class="text-center u-icon-block--hover g-mx-10">
        <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
          <span class="u-icon-v4-inner">
            <i class="icon-people"></i>
          </span>
        </span>
        <h3 class="h5 g-color-black mb-3">Great Community</h3>
        <p class="g-color-gray-dark-v4">
          Players at the club cover a broad range of ages, from teenagers to veterans, but with a significant portion drawn from the 
          university, both undergraduate and postgraduate students, and from recent and not-so-recent graduates working in the 
          Cambridge area. Many members have moved to Cambridge for work or study and contribute greatly to the friendly, social 
          nature of the club.
        </p>
      </div>
    </div>
  
    <div class="col-lg-4 g-mb-30">
      <div class="text-center u-icon-block--hover g-mx-10">
        <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
          <span class="u-icon-v4-inner">
            <i class="icon-sport-004 u-line-icon-pro"></i>
          </span>
        </span>
        <h3 class="h5 g-color-black mb-3">Great Success</h3>
        <p class="g-color-gray-dark-v4">
          Recent seasons have seen some of the best performances in the history of the club, with the Ladies' 1st XI achieving 
          promotion as champions at the end of the 2016/17 season to play in Division 2NW in the East Women's League for the 
          first time. The Men's 1st XI were promoted as champions of Division 3NW and now play in Division 2S, joining the 
          elite 'Top 5' division group of the East Men's League for the first time in the club's history.
        </p>
      </div>
    </div>
  
    <div class="col-lg-4 g-mb-30">
      <div class="text-center u-icon-block--hover g-mx-10">
        <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
          <span class="u-icon-v4-inner">
            <i class="icon-finance-257 u-line-icon-pro"></i>  <!-- icon-finance-030 -->
          </span>
        </span>
        <h3 class="h5 g-color-black mb-3">Great Future</h3>
        <p class="g-color-gray-dark-v4">
          The Men's 2nd XI were promoted twice in three seasons before dropping back to Div 4NW. The Men's 3rd XI topped Div 
          5NW in 2016/17 and join the 2nd XI in Div 4NW. At the entry level of the leagues, the Ladies’ 4th XI and Men’s 5th 
          XI provide hockey for a mix of old heads and new hands.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="background" class="g-bg-secondary">
  <div class="container g-py-60">
    {% include 'blocks/_middle_heading.html' with title="History" %}
      
    <div class="row">
      <div class="col-lg-6 g-font-size-16 g-font-size-20--md g-mb-40 d-flex align-items-center">
        <p>
          The detailed history of the Club has been lost in the mists of time, but we do know that it was formed in about 1935, 
          originally as a company team for the paper manufacturer Spicers, based in the village of Sawston (south of Cambridge). 
          At some point the club 'left home' and became Sawston Men's Hockey Club, still based in the village and playing at the 
          grass pitches owned by Spicers. A separate Sawston Ladies’ Hockey Club was formed later.
        </p>
      </div>
      <div class="col-lg-6 g-mb-40">
        <img class="w-100" src="{% static "img/hockey_origins.gif" %}" alt="The origins of hockey">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6 g-font-size-16 g-font-size-20--md order-1 order-lg-2 g-mb-40 d-flex align-items-center">
        <p>
          In 1996 the club was forced to move its home games into Cambridge when league regulations changed to require that matches 
          be played on artificial pitches. The club was initially based at the Perse School, then at a variety of pitches around the 
          city before settling at Long Road in 2014.
        </p>
      </div>
      <div class="col-lg-6 order-2 order-lg-1 g-mb-40 text-center">
        {% abs_static_url "img/crest/full_achievements/South-Cambs-Hockey-Club-COA-shaded-1.1.png" as crest_image %}
        {% thumbnail crest_image "260" as crest_image_thumbnail %}
          <img width="260px" src="{{ crest_image_thumbnail.url }}" alt="Club Crest">
        {% endthumbnail %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 g-font-size-16 g-font-size-20--md g-mb-40 d-flex align-items-center">
        <p>
          The move into the city eventually resulted, at the end of the 1997/98 season, in the men's club deciding on a second 
          <a href="{% static "documents/HA_Name_Change.pdf" %}" target="_blank">change of name to Cambridge South Hockey Club</a> 
          with the ladies' club following suit the next season. Cambridge South Hockey Club (the men’s club) and Cambridge South 
          Ladies’ Hockey Club, having historically been separate but increasingly-connected clubs, merged to form a single club in 2009.
        </p>
      </div>
      <div class="col-lg-6 g-mb-40">
        {% abs_static_url "img/L1L2_2014.jpg" as ladies_image %}
        {% thumbnail ladies_image "540" as ladies_image_thumbnail %}
          <img class="w-100" src="{{ ladies_image_thumbnail.url }}" alt="L1s and L2s">
        {% endthumbnail %}
      </div>
    </div>
    
  </div>
  
</section>

{% endblock main %}


{% block body_js %}
{{ block.super }}
{% include 'blocks/_dszparallaxer_js.html' %}
{% endblock %}