{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}

{% block title %}{{ block.super }} | Calendar{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}

{% url 'match_ical_feed' as all_fixtures_cal %}
{% url 'trainingsession_ical_feed' as training_cal %}

{% heading "Calendar" %}

{% comment %} Embedded Google Calendar {% endcomment %}

<iframe src="https://calendar.google.com/calendar/embed?height=900&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;
mode={% if request.user_agent.is_mobile %}AGENDA{% else %}MONTH{% endif %}&amp;
src=NG9hdGk3ZWU2MjMxaGI2Z3RhamlmdDVodnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
src=dDdkaGwxazU0cnFiNm1tdDBodXU3NzhhYzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
src=Y2hnMGI3MzhiMDRwOWppM3F0ZDVzN3Uya3IxaDk4bmpAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=azM2bGxpZjRlMWdiOTczbGdzMWFrc2pibGl1NDVybHJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=M3I5cWFiamNiaGg2am1ma3NiZDNyZGhsZHE0MXNzMnNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=MnZrcmhzaThsYTg5YmJjODhnYnZrYThvMHBobWdkcTFAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=bHMxNTJidmgxN2E0aDN0NjkyMHFiZGc5ZmxyMmZodW9AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=Y2Y5cHQxbTZqam1kbjB1ZmZoMnVzZGJ1bGVrMDE0cDNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=dGlldmJoMjM4MGdrZGtxYXU4ZjBzaThicm1tMjA0NmVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=cmZqcnB0MDdycW5zdmVscm03cW5tOXV0NGJqaDNpamhAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=cWYwNG5kMTM3Y2hxY2I0c2ZqMTRpdjlycWVlbzhyMTJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=OGJmbmVpa2kxcGwwdjJkZ203ZG9rN29lYWk1cDU0NW5AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=NWxkcnU2dm9hMmJmbGkwZHQ3cTFhZm1vcGR0czFlODJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=MG1iajhoM2cxdGphMG1hdTZ2c3I0MmxzdWFwamIyajNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=YzVrY3FiOW52ZzQyNDllNGwyb2k2MmY1cjczY2JjaDZAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=cnRubWkwYnRkazFmaTQ5ZWZybzVtMjhlbGVycmYxdDRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=ZmlzYmg1bWs5dG90MXBuY2dwc2tnYWZudWQ2a251bzNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=NmVyMnBjYmpjM3M2bDMwaG40ZTg2MmFjYThlOHRyNzNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
src=NTViNzZrcDA5dm1tY2sxNzk4NWp0OHFjZTA4ZTlqZWVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
color=%23C0CA33&amp;color=%23EF6C00&amp;color=%23039BE5&amp;color=%23E4C441&amp;
color=%237CB342&amp;color=%237986CB&amp;color=%23F6BF26&amp;color=%23795548&amp;
color=%23F6BF26&amp;color=%23F4511E&amp;color=%23B39DDB&amp;color=%23D81B60&amp;
color=%23616161&amp;color=%23A79B8E&amp;color=%238E24AA&amp;color=%23A79B8E&amp;
color=%234285F4&amp;color=%233F51B5&amp;color=%23795548&amp;showTitle=0&amp;showPrint=0&amp;hl=en_GB" 
style="border-width:0" width="100%" height="900" frameborder="0" scrolling="no"></iframe>

<section id="feeds" class="g-pt-40">
    {% subheading "Calendar Feeds" %}
    
    <p>There are a series of calendars that you can link into your normal calendar client (Outlook, iPhone etc). The addresses are in the table below.</p>
    <div class="table-responsive">
      <table class="table table-hover">
      <thead>
          <tr>
              <th>Calendar</th>
              <th>Address / Link</th>
          </tr>
      </thead>
      <tbody>
          {% include 'club_info/_cal_feed_row.html' with title="All fixtures" link_title="Calendar of fixtures for all teams" cal_link=all_fixtures_cal %}
          {% for team in teams %}
            {% url 'clubteam_ical_feed' team.slug as cal %}
            {% include 'club_info/_cal_feed_row.html' with title=team.long_name|addstr:" fixtures" link_title=team.long_name|addstr:" fixture calendar" cal_link=cal %}
          {% endfor %}
          {% include 'club_info/_cal_feed_row.html' with title="Training" link_title="Training calendar" cal_link=training_cal %}
          {% include 'club_info/_cal_feed_row.html' with title="Club events calendar" link_title="Training calendar" cal_link="https://calendar.google.com/calendar/ical/t7dhl1k54rqb6mmt0huu778ac8%40group.calendar.google.com/public/basic.ics" %}
          {% include 'club_info/_cal_feed_row.html' with title="Juniors" link_title="uniors events calendar" cal_link="https://calendar.google.com/calendar/ical/4oati7ee6231hb6gtajift5hvs%40group.calendar.google.com/public/basic.ics" %}
      </tbody>
      </table>
    </div>
</section>

<section id="instructions">

    <p>How you actually subscribe to the calendar depends on the device that you are using. Below are instructions for iOS, Apple Mac and Outlook 2007. Otherwise, you can try clicking on the links above and see if your OS will automatically start the subscription.</p>
    
    <h4 class="g-mt-30"><i class="fab fa-apple g-mr-5"></i>iOS (iPhones and iPads)</h4>
    <ol>
    <li>
        Copy the iCal link.</li>
    <li>
        Go to &quot;Settings&quot; on your iPhone or iPad and choose &quot;Mail, Contacts, Calendars&quot;</li>
    <li>
        Under &quot;Accounts&quot; select &quot;Add Account...&quot;</li>
    <li>
        Select &quot;Other&quot;</li>
    <li>
        Under &quot;Calendars&quot; select &quot;Add Subscribed Calendar&quot;</li>
    <li>
        Paste the iCal link into the &quot;Server&quot; box and select &quot;Next&quot;.</li>
    <li>
        The calendar is now viewable in the pre-installed &quot;Calendar&quot; app.</li>
    </ol>
    
    <h4 class="g-mt-30"><i class="fab fa-android g-mr-5"></i>Android</h4>
    <ol>
    <li>
        <em>On your PC</em>, go to <a href="http://calendar.google.com" target="_blank">http://calendar.google.com</a> using a browser such as Chrome or Internet Explorer.</li>
    <li>
        Log in using your Gmail account, e.g. fred.bloggs@gmail.com.  (Note: If you are already logged into Gmail, you can choose the Calendar app by clicking the Apps button  or using the &quot;More...&quot; menu on old browsers).</li>
    <li>
        Choose: &quot;Other calendars->Add by URL&quot;, from the left-hand-side menus.</li>
    <li>
        Paste in the South fixtures calendar, e.g. www.cambridgesouthhockeyclub.co.uk/matches/cshc_matches.ics</li>
    <li>
        <em>On your Android device(s)</em>, start Google's &quot;Calendar&quot; app.</li>
    <li>
        Choose: &quot;Menu->Calendars to display->Calendars to sync&quot;.</li>
    <li>
        Tick &quot;CSHC fixtures&quot;, which is listed under your gmail calendar, and click &quot;OK&quot; to synchronise and view the fixtures.</li>
    </ol>
    
    <h4 class="g-mt-30"><i class="fab fa-apple g-mr-5"></i>Apple Mac</h4>
    <ol>
    <li>
        Copy the iCal link.</li>
    <li>
        Launch the Calendar application, click on &quot;File&quot; in the top menu bar and choose &quot;New Calendar Subscription...&quot;.</li>
    <li>
        Paste the iCal link into the &quot;Calendar URL&quot; box and click &quot;Subscribe&quot;.</li>
    <li>
        From the &quot;Location&quot; menu choose &quot;iCloud&quot;.</li>
    <li>
        Click the &quot;Auto-refresh&quot; drop down menu and choose a frequency for the calendar to check for updates (&quot;Every day&quot; is probably sufficient).</li>
    <li>
        Click OK.</li>
    <li>
        The calendar will now appear in the Calendar app and also in the calendars of any other iCloud-connected Apple devices you have.</li>
    </ol>
    
    <h4 class="g-mt-30"><i class="fas fa-laptop g-mr-5"></i>Outlook 2007</h4>
    <ol>
    <li>
        Select Tools &gt; Account Settings</li>
    <li>
        Select the Internet Calendars tab</li>
    <li>
        Press New</li>
    <li>
        Copy the iCal link from the table above and paste it into the New Internet Calendar Subscription screen that appears.</li>
    <li>
        Press Add.</li>
    <li>
        In the screen that appears type &quot;CSHC&quot; into the Folder Name box (it currently says &quot;basic&quot;) and press OK</li>
    <li>
        Press Close</li>
    <li>
        Go to the Calendar view in Outlook and on the left hand side you should now see, under &quot;Other Calendars&quot; a check box for &quot;CSHC&quot;. If you don&#39;t see it then wait a few minutes and it should refresh (try closing Outlook and reopening if necessary). Tick the check box when you see it and the calendar should appear.</li>
    </ol>

</section>

{% endblock content %}