{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}

{% block title %}{{ block.super }} | Directions{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}

{% url 'venue_detail' 'cantabs' as cantabs_url %}
{% url 'venue_detail' 'queen-edith' as queen_edith_url %}
{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'st-marys' as st_marys_url %}
{% url 'venue_list' as venues_url %}

{% heading "Directions" %}

<div id="home-venues" class="g-pb-20">
  {% subheading "Home Venues" %}

  <p class="lead">We train and play our home matches at <a href="{{ long_road_url }}" title="Pitch details...">Long Road Sixth Form College</a> and
    <a href="{{ st_marys_url }}" title="Venue details">St Mary's & Homerton Sports Ground</a> in south Cambridge.</p>

  <iframe src="https://www.google.com/maps/d/embed?mid=1lIfraO305IegNjXDKFhx0G1EtIdhPxvI" width="100%" height="480"></iframe>
</div>

<div id="away-matches" class="g-pb-20">
  {% subheading "Away Matches" %}

  <p class="lead">Details of the pitch locations of the clubs we play against can be found on the <a href="{{ venues_url }}">Venues</a> page.</p>
  <p class="lead">Alternatively, a full list of all club astro pitches in the East Region with directions to them can be
    found <a href="http://www.east-hockey.com/clubs/clubastrosearch.asp" target="_blank">here</a>.</p>
</div>

<div id="match-teas" class="g-pb-20">
  {% subheading "Match Teas" %}

  <figure class="row flex-md-row align-items-center">
    <div class="col-md-6 px-0">
      <div class="u-ns-bg-v1-bottom u-ns-bg-v1-right--md g-bg-white g-py-30 g-px-50">
        <div class="g-mb-25">
          <div class="g-mb-20">
            <h4 class="h4 g-color-black g-mb-5">Cantabs RUFC Club House</h4>
          </div>
          <p class="lead">Our post-match teas are held at <a href="{{ cantabs_url }}">Cantabs RUFC Club House</a>.</p>
          <address class="g-font-weight-600 g-color-gray-dark-v4">
            Sedley Taylor Road<br/>
            Cambridge<br/>
            CB2 8PW
          </address>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0">
      <img class="w-100" src="{% static "img/cantabs.jpg" %}" alt="Cantabs RUFC Club House">
    </div>
  </figure>

  <figure class="row flex-md-row align-items-center">
    <div class="col-md-6 order-md-2 px-0">
      <div class="u-ns-bg-v1-bottom u-ns-bg-v1-left--md g-bg-white g-py-30 g-px-50">
        <div class="g-mb-25">
          <div class="g-mb-20">
            <h4 class="h4 g-color-black g-mb-5">The Queen Edith pub</h4>
          </div>
          <p class="lead">Alternate venue of post-match teas: <a href="{{ queen_edith_url }}">The Queen Edith</a>.
            <address class="g-font-weight-600 g-color-gray-dark-v4">
              Wulfstan Way<br>
              Cambridge<br>
              CB1 8QN<br>
            </address>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 order-md-1 px-0">
      <img class="w-100" src="{% static "img/queen-edith.jpg" %}" alt="The Queen Edith">
    </div>
  </figure>
</div>
{% endblock content %}
