{% extends "base.html" %}
{% load static %}
{% load thumbnail from sorl_thumbnail %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}

{% block title %}{{ block.super }} | Directions{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block main %}

{% url 'venue_detail' 'cantabs' as cantabs_url %}
{% url 'venue_detail' 'queen-edith' as queen_edith_url %}
{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'venue_detail' 'st-marys' as st_marys_url %}
{% url 'venue_list' as venues_url %}

{% include "blocks/_background_hero.html" with image="img/ladies-2.jpg" title="Directions" subtitle="Where to find us" %}
<section class="container g-pt-20 g-pb-40 g-font-size-16 g-font-size-18--md">
  <div id="home-venues" class="g-pb-20 g-mt-20">
    <p>Home matches and training are held at <a href="{{ long_road_url }}" title="Pitch details...">Long Road Sixth Form College</a>
      and <a href="{{ st_marys_url }}" title="Venue details">St Mary's & Homerton Sports Ground</a>. Both pitches are accessed from 
      Long Road and are easily reached by car, cycle or public transport. Parking is available at both venues.</p>
    <p>The nearest train station is Cambridge South, which is approximately a 10-minute walk from Long Road College.</p>
  </div>
  <div class="text-center g-mb-40">
    <iframe src="https://www.google.com/maps/d/embed?mid=1lIfraO305IegNjXDKFhx0G1EtIdhPxvI" width="80%" height="480"></iframe>
  </div>

  <div id="match-teas" class="g-pb-40">
    {% include 'blocks/_middle_heading.html' with title="Match Teas" %}
    <p>Our post-match teas are usually served at <a href="{{ cantabs_url }}">Cantabs RUFC Club House</a>, which is also located
      off Long Road, a short walk from the college.</p>
    
    <p>When the Cantabs Club House is unavailable, our alternate venue for post-match teas is 
      <a href="{{ queen_edith_url }}">The Queen Edith</a>, a tradtional pub with a large selection
      of beer on draught.</p>

    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center g-py-20 g-pr-40 order-2 order-md-1">
          <div>
            <h4 class="h4 g-color-black g-mb-5">Cantabs RUFC Club House</h4>
            <div class="g-font-size-16 g-font-size-18--md">
              <address class="g-font-weight-600 g-color-gray-dark-v4">
                Sedley Taylor Road<br/>
                Cambridge<br/>
                CB2 8PW
              </address>
              <p>It is best to leave your car at the college and walk to the Club House.</p>
            </div>
          </div> 
        </div>
        <div class="col-md-6 align-self-center g-py-20 order-1 order-md-2">
          {% abs_static_url "img/cantabs.jpg" as cantabs_image %}
          {% thumbnail cantabs_image "540" as cantabs_image_thumbnail %}
            <img class="w-100" src="{{ cantabs_image_thumbnail.url }}" alt="Cantabs RUFC Club House">
          {% endthumbnail %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center g-py-20 g-pr-40 order-2 order-md-2">
          <div>
            <h4 class="h4 g-color-black g-mb-5">The Queen Edith Pub</h4>
            <div class="g-font-size-16 g-font-size-18--md">
              <address class="g-font-weight-600 g-color-gray-dark-v4">
                Wulfstan Way<br>
                Cambridge<br>
                CB1 8QN<br>
              </address>
              <p>The pub is a five minute drive from the pitches and has a small car park and on-street parking available.</p>
            </div>
          </div> 
        </div>
        <div class="col-md-6 align-self-center g-py-20 order-1 order-md-1">
          {% abs_static_url "img/queen-edith.jpg" as queen_edith_image %}
          {% thumbnail queen_edith_image "540" as queen_edith_image_thumbnail %}
            <img class="w-100" src="{{ queen_edith_image_thumbnail.url }}" alt="The Queen Edith Pub">
          {% endthumbnail %}
        </div>
      </div>
    </div>
  </div>

  <div id="away-venues" class="g-mb-60">
    {% include 'blocks/_middle_heading.html' with title="Away Venues" %}
    <p>Details of the pitch locations of the clubs we play against can be found on the <a href="{{ venues_url }}">Venues</a> page.</p>
  </div>
</section>
{% endblock main %}
