{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags documents %}
{% load compress %}

{% block title %}{{ block.super }} | Join Us{% endblock %}

{% block link %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-line/css/simple-line-icons.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% url 'juniors_index' as juniors_url %}

{% heading "New Players" %}

<div class="row g-pb-20">
  <div class="col-12 col-lg-7">
    <p>Cambridge South has men’s and ladies’ teams across a range of levels from beginner upwards. We welcome anyone interested in playing hockey, whatever your standard or experience. In line with England Hockey regulations, the minimum age for participation in senior training and matches is 13.</p>
    <p>New players who wish to train or play with Cambridge South must complete and return the <a href="#reg-form">Player Registration and Consent form</a> available on this page. Forms can be returned by email to <a href="mailto:join@cambridgesouthhockeyclub.co.uk">join@cambridgesouthhockeyclub.co.uk</a> or handed to a club officer or team captain at any match or training session.</p>
    <p>You can attend up to three games or training sessions with Cambridge South to try us out before deciding whether to pay your annual subscription and join the club to continue playing. Current subscriptions rates and information about how to pay can be found under <a href="#fees">Annual Subscriptions.</a></p>
    <p>For players who join part way through the season, a proportional reduction will be made to the annual subscription due. If you join after the New Year then you will usually pay 50% of the normal subscription.</p>
    <p>Of course, we're sure you'll be champing at the bit to join us and hand over your subscription after your first game!</p>
  </div>
  <div class="col-12 col-lg-5">
    {% abs_static_url "img/new_players.jpg" as new_players_image %}
    {% thumbnail new_players_image "450" as new_players_image_thumbnail %}
      <img class="img-fluid" src="{{ new_players_image_thumbnail.url }}"/>
    {% endthumbnail %}
  </div>
</div>

<div id="reg-form">
  {% document title="Registration and Consent Form" category="General" %}
</div> 

<div class="alert fade show g-bg-gray-light-v4 rounded-0 g-my-40" role="alert">
  <div class="media">
    <span class="d-flex g-mr-10 g-mt-5">
      <i class="icon-info g-font-size-25"></i>
    </span>
    <span class="media-body align-self-center">
      <strong>Note:</strong> Young players who wish to join the club junior section should use the Juniors 
      Registration form found on the <a class="g-font-weight-500" href="{{ juniors_url }}">Juniors</a> page
    </span>
  </div>
</div>

{% include 'blocks/_middle_heading.html' with title="Annual Subscriptions" id="fees" %}

{% clubinfo 'SubsFull' as subs_full %}
{% clubinfo 'SubsDiscount' as subs_discount %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="u-shadow-v1-5 g-bg-primary g-color-white g-line-height-2 g-pa-40 g-mb-30 text-center">
        <h3 class="h2 g-font-weight-300 g-mb-20">Waged</h3>
      <strong class="d-block g-font-size-50 g-line-height-0_7 g-mb-20">
        <span class="g-valign-top g-font-size-default">&pound;</span>
        {{ subs_full }}
        <span class="g-font-size-default">/ year</span>
      </strong>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 text-center">
        <h3 class="h2 g-font-weight-300 g-mb-20">Students/Unwaged</h3>
      <strong class="d-block g-font-size-50 g-line-height-0_7 g-mb-20">
        <span class="g-valign-top g-font-size-default">&pound;</span>
        {{ subs_discount }}
        <span class="g-font-size-default">/ year</span>
      </strong>
    </div>
  </div>
</div>


{% include 'blocks/_middle_heading.html' with title="Match Fees*" %}

{% clubinfo 'MatchFeesFull' as match_fees_full %}
{% clubinfo 'MatchFeesDiscount' as match_fees_discount %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="u-shadow-v1-5 g-bg-primary g-color-white g-line-height-2 g-pa-40 g-mb-30 text-center">
        <h3 class="h2 g-font-weight-300 g-mb-20">Waged</h3>
      <strong class="d-block g-font-size-50 g-line-height-0_7 g-mb-20">
        <span class="g-valign-top g-font-size-default">&pound;</span>
        {{ match_fees_full }}
        <span class="g-font-size-default">/ match</span>
      </strong>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="u-shadow-v1-5 g-line-height-2 g-pa-40 g-mb-30 text-center">
        <h3 class="h2 g-font-weight-300 g-mb-20">Students/Unwaged</h3>
      <strong class="d-block g-font-size-50 g-line-height-0_7 g-mb-20">
        <span class="g-valign-top g-font-size-default">&pound;</span>
        {{ match_fees_discount }}
        <span class="g-font-size-default">/ match</span>
      </strong>
    </div>
  </div>
</div>

<p>* Match fees are reduced proportionally for substitutes playing part of a game</p>

{% clubinfo 'TreasurerName' as treasurer_name %}
{% clubinfo 'SecretaryName' as secretary_name %}
<div class="g-brd-around g-brd-gray-light-v4 g-brd-left-4 g-brd-primary-left g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30" role="alert">
  <h3 class="g-color-primary g-font-weight-600">Payment of annual subscriptions</h3>
  <p class="g-font-size-16">Annual Subscriptions are paid through Spond, the club's communication platform.  To be sent a Payment Request link please email the {% clubinfo_email 'TreasurerEmail' treasurer_name %}, or the {% clubinfo_email 'SecretaryEmail' secretary_name %}.</p>
  <p class="mb-0"><strong>Note: Players who have not paid their subscription by 31st October will no longer be covered by our members' 
    insurance and so will not able to be selected until they have paid.</strong></p>
</div>


{% subheading "Umpires" %}

{% clubinfo 'UmpireFee' as umpire_fee %}
<p>Players who umpire receive a fee of &pound;{{ umpire_fee }} per game and for away games can claim fuel expenses if they take
  a team player in accordance with the Travel Costs on the relevant venue page.</p>


{% endblock content %}
