{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags documents %}
{% load unify %}
{% load compress %}

{% block title %}{{ block.super }} | Juniors{% endblock %}

{% block link %}
  {% include 'blocks/_dszparallaxer_css.html' %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/juniors.css" %}?v=1">
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block main %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'juniors_index' as juniors_index %}
{% url 'upcoming_trainingsession_list' as training %}
{% url 'join_us' as join_us %}
{% clubinfo 'InSeason' as in_season %}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll is-touch" data-options="{
  settings_mode_oneelement_max_offset: '150'
 }">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(&quot;{% static "img/l1-3b.jpg" %}&quot;); transform: translate3d(0px, 0px, 0px);"></div>
  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-black-opacity-0_6--after g-py-20">
    <div class="container text-center u-bg-overlay__inner">
      <h2 class="g-font-size-60 g-mb-80">Juniors</h2>
      <p class="g-font-size-32 g-font-style-italic">Hockey training for boys and girls aged 6 - 14<br/>on Saturday mornings</p>
    </div>
  </section>
</div>

{% include 'core/_messages.html' %}

{% include 'blocks/_sub_navigation.html' %}

<section class="container g-mt-20 g-mb-40">
    <p class="lead">
      Cambridge South Hockey Club’s junior section trains weekly on Saturday mornings during the hockey season between September 
      and March. Training sessions are led by a professional coach assisted by club player-coaches.
    </p>
    <p class="lead">
      The sessions are for boys and girls, aimed at ages 6-14 (please contact us for ages outside this range). Training is based 
      around the <a href="http://www.playquicksticks.co.uk" target="_blank"/>‘Quicksticks’</a> (for younger children) and 
      <a href="http://in2hockey.englandhockey.co.uk/">In2Hockey</a> (for older players) forms of the game played in schools. The 
      junior sessions are focused on teaching and developing basic skills and team play, ultimately providing a pathway towards 
      senior team hockey (minimum age 13).
    </p>
    <p class="lead">
      We offer a <strong>free 3 session taster</strong> for new players to try out without commitment. The subscription fee is due your fourth 
      session - if you decide not to continue beyond your first 3 sessions there is nothing to pay!
    </p>

    <div class="row g-py-40">
      <div class="col-md-8">
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td class="jnr-table--heading">Location</td>
              <td class="jnr-table--details"><a href="{{ long_road_url }}" title="Pitch details">Long Road Sixth Form College</a></td>
            </tr>
            <tr>
              <td class="jnr-table--heading">Time</td>
              <td class="jnr-table--details">Saturdays 9-10am</td>
            </tr>
            <tr>
              <td class="jnr-table--heading">Dates</td>
              <td class="jnr-table--details">
                <div class="jnr-table--title">2018/19</div><br/>
                <div class="jnr-table--heading">Autumn term (12 weeks)</div>
                <div class="jnr-table--context">8th September - 8th December (half term break 20th &amp; 27th October)</div><br/>
                <div class="jnr-table--heading">Spring term (10 weeks)</div>
                <div class="jnr-table--context">12th January - 30th March (half term break 16th &amp; 23rd February)</div>
              </td>
            </tr>
            <tr>
              <td class="jnr-table--heading">Cost</td>
              <td class="jnr-table--details">
                <div class="jnr-table--heading">Season subscription</div>
                <div class="jnr-table--context">£100 (£50 due September, £50 in January).</div>
                <div class="jnr-table--context">25% discount for players starting after the October break (£25 due on joining; £50 in January).</div>
                <div class="jnr-table--context">50% discount for players starting after the winter break (£50 due on joining).</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="u-shadow-v5 g-bg-white g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-30 text-center" role="alert">
          <p>Membership subscription includes a<br/><strong>free club T-shirt</strong></p>
          {% abs_static_url "img/kit/juniors_shirt.png" as juniors_shirt_image %}
          {% thumbnail juniors_shirt_image "320" as juniors_shirt_image_thumbnail %}
            <img class="w-100" src="{{ juniors_shirt_image_thumbnail.url }}"/>
          {% endthumbnail %}
        </div>
      </div>
    </div>

    <p>
      No previous hockey experience is necessary and beginners are welcomed. All sticks, balls and equipment are provided, but players 
      may bring their own stick if they have one (please label clearly in permanent marker). Players require comfortable sportswear and 
      trainers with grippy soles. <strong>Mouthguards and shinguards are strongly recommended for all players.</strong>
    </p>
    <p>
      Junior players who are eligible and also wish to <a href="{{ training }}" title="Seniors Training">play or train with the club’s 
        senior section</a> (age 13+) are not required to pay separate <a href="{{ join_us }}#fees" title="Fees">senior membership subs</a>. 
        Usual senior match fees will be payable.        
    </p>
    <p>
      To apply for a place, or for more information, please fill in the contact form on this page. <strong>Following confirmation of a place, 
      a Registration and Consent form must be completed and returned before a player may attend a session.</strong>
    </p>
</section>


{% static "img/members/neil_sneade.jpg" as neil_pic %}
{% static "img/avatar-placeholder.jpg" as jack_pic %}
{% static "img/members/colin_hulett.jpg" as colin_pic %}
<section id="contacts" class="g-bg-secondary">
  <div class="container g-py-60">
    {% include 'blocks/_middle_heading.html' with title="Contacts" %}

    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        {% include 'club_info/_junior_contact.html' with thumbnail=neil_pic name="Neil Sneade" email="juniors@cambridgesouthhockeyclub.co.uk" position="Juniors Secretary" blurb="As well as turning out for the Men’s 3rd XI, Neil acts as Club Secretary and now also Junior Secretary. He has two daughters aged 8 and 6 and will be assisting with junior coaching." %}
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-30">
        {% include 'club_info/_junior_contact.html' with thumbnail=jack_pic name="Jack Chalk" email="welfare@cambridgesouthhockeyclub.co.uk" position="Welfare Officer" blurb="The Welfare Officer is a member of the club committee and represents the interests of junior members during Cambridge South Hockey Club committee meetings, to ensure that club policies decided at these meetings comply to those outlined by England Hockey." %}
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-30">
        {% include 'club_info/_junior_contact.html' with thumbnail=colin_pic name="Colin Hulett" position="Juniors Coach" blurb="An experienced PE teacher and qualified hockey coach, he has coached children of various ages in numerous sports and also acts as one of the club’s senior team coaches." %}
      </div>
    </div>
  </div>
</section>

<section id="news" class="container g-py-60">
  {% include 'blocks/_middle_heading.html' with title="Latest Juniors News" %}
  {% get_recent_category_entries 'juniors' 3 'core/_recent_articles.html' %}
  <div class="text-center">
    <a class="text-uppercase btn btn-lg u-btn-outline-primary rounded-0" title="More from the Juniors blog" href="{% url 'zinnia:category_detail' 'juniors' %}">
      More from the Juniors blog...
    </a>
  </div>
</section>

<section id="resources" class="container g-py-40">
  <div class="row">
    <div class="col-md-6 col-lg-8">
      <h3 class="g-pb-20">Resources</h3>
      {% document title="Registration and Consent Form" category="Juniors" %}
      {% document title="Safeguarding and Protecting Policy" category="Juniors" %}
      {% document title="Safeguarding and Protecting Commitment" category="Juniors" %}
      {% document title="Reporting concerns about a child's welfare" category="Juniors" %}
      {% document title="Photography Best Practice Guidance" category="Juniors" %}
    </div>
    <div id="calendar" class="col-md-6 col-lg-4">
      <span class="float-right">
        <a href="https://calendar.google.com/calendar/ical/4oati7ee6231hb6gtajift5hvs%40group.calendar.google.com/public/basic.ics" title="Subscribe to the CSHC Juniors calendar" class="btn u-btn-primary">
          <i class="far fa-calendar-plus g-mr-10"></i>Subscribe
        </a>
      </span>
      <h3 class="g-mb-20">Juniors Calendar</h3>
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=800&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=4oati7ee6231hb6gtajift5hvs%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FLondon" 
      style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  {% include 'blocks/_divider.html' %}
  
  <p class="lead">
    If you're interested in Juniors hockey at Cambridge South, just fill in this form and we'll get back to you!
  </p>

  <form id="contact-us" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" action="{{ juniors_index }}" method="post">
    {% unify_form_non_field_errors %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% csrf_token %}
    {% unify_form_section_heading 'Your details' %}
    <div class="row">
      <div class="col-md-6">
        {% unify_form_field 'first_name' 'inline' %}
      </div>
      <div class="col-md-6">
        {% unify_form_field 'last_name' 'inline' %}
      </div>
      <div class="col-md-6">
        {% unify_form_field 'email' 'inline' %}
      </div>
      <div class="col-md-6">
          {% unify_form_field 'phone' 'inline' %}
      </div>
    </div>
    
    {% unify_form_section_divider %}
    {% unify_form_section_heading "Your child's details" %}

    <div class="form-inline align-items-center">
      <div class="g-mr-20">
        {% unify_form_field 'child_name' 'inline' %}
      </div>
      <div class="g-mr-20 d-flex align-items-center">
        <span class="form-group g-mr-10">Gender:</span>
        {% unify_form_field 'child_gender' 'inline' %}
      </div>
      <div class="g-mr-20 d-flex align-items-center">
        <span class="form-group g-mr-10">Age:</span>
        {% unify_form_field 'child_age' 'inline' %}
      </div>
    </div>
   
    {% unify_form_section_divider %}
    {% unify_form_field 'message' 'inline' %}

    {% unify_form_field 'mailing_list' 'inline' hide_label=True %}

    <div class="row">
      <div class="col-md-6">
        {% unify_form_field 'trigger' 'inline' label_class='' %}
      </div>
    </div>

    <div class="form-group">
      {{ form.captcha }}
      {% if form.errors.captcha %}<small class="form-control-feedback">{{ form.errors.captcha }}</small>{% endif %}
    </div>
    
    {% unify_form_submit_button 'Send' 'inline' %}
    {% unify_form_required_fields_footnote 'inline' %}
  </form>
</section>

{% endblock main %}


{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_dszparallaxer_js.html' %}
  {% include 'blocks/_scroll_nav_js.html' %}
  {% include 'blocks/_focus_state_js.html' %}
{% endblock %}