{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load thumbnail from sorl_thumbnail %}
{% load cshc_tags documents %}
{% load unify %}
{% load compress %}

{% block title %}{{ block.super }} | Juniors{% endblock %}

{% block link %}
  {% include 'blocks/_dszparallaxer_css.html' %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/juniors.css" %}?v=1">
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block main %}

{% url 'venue_detail' 'long-road' as long_road_url %}
{% url 'juniors_index' as juniors_index %}
{% url 'upcoming_trainingsession_list' as training %}
{% url 'join_us' as join_us %}
{% clubinfo 'InSeason' as in_season %}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll is-touch" data-options="{
  settings_mode_oneelement_max_offset: '150'
 }">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url(&quot;{% static "img/l1-3b.jpg" %}&quot;); transform: translate3d(0px, 0px, 0px);"></div>
  <section class="g-flex-centered g-height-500 g-color-white u-bg-overlay g-bg-black-opacity-0_6--after g-py-20">
    <div class="container text-center u-bg-overlay__inner">
      <h2 class="g-font-size-60 g-mb-80">Juniors</h2>
      <p class="g-font-size-32 g-font-style-italic">Hockey training for boys and girls aged 6 - 14</p>
    </div>
  </section>
</div>

{% include 'core/_messages.html' %}

{% include 'blocks/_sub_navigation.html' %}

<section class="container g-mt-20 g-mt-40--md g-mb-40">
  <p class="lead">
      Cambridge South Hockey Club’s junior section trains weekly during the hockey season between September and March, with the younger groups
      on Saturday mornings and older groups on midweek evenings. Training sessions are led by professional coaches assisted by club player-coaches.
  </p>
  <p class="lead">
    The sessions are for boys and girls, aimed at players from year 2 to year 9 (ages 6 to 14). Training is based around the
    <a href="http://www.playquicksticks.co.uk" target="_blank"/>‘Quicksticks’</a> (for younger children) and
    <a href="http://www.englandhockey.co.uk/page.asp?section=2386&sectionTitle=In2Hockey" target="_blank">In2Hockey</a> (for older players) forms of the game played in schools. The
    junior sessions are focused on teaching and developing basic skills and team play, ultimately providing a pathway towards
    senior team hockey. Junior players can start to train and play with the <a href="{{ training }}" title="Seniors Training">club’s senior teams</a>,
    alongside their age-group based hockey, from age 13 upwards.
  </p>
  <p class="lead">
    Each age group play matches at different levels to make sure there is competitive hockey for all our players. Development tournaments are very friendly occasions that
    enable new or less experienced players to play matches against similarly skilled opposition. Stronger players from U10 upwards also play against local clubs at a
    higher level. This gives our players excellent opportunities to develop their hockey. Note that fixtures are almost always on Sundays and are in addition to training.
  </p>
  <p class="lead">
    We offer a <strong>free 3 session taster</strong> for new players to try out without commitment. The subscription fee is due your fourth
    session - if you decide not to continue beyond your first 3 sessions there is nothing to pay!
  </p>

  <div class="row g-py-40">
    <div class="col-md-8">
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td class="jnr-table--heading">Location</td>
            <td class="jnr-table--details"><a href="{{ long_road_url }}" title="Pitch details">Long Road Sixth Form College</a></td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Time</td>
            <td class="jnr-table--details">
              U8 - U10 (years 2 - 5): Saturdays, 8:45am - 10am<br />
              U12 Girls (years 6 &amp; 7) and U14 Girls (years 8 &amp; 9): Tuesdays, 6:15pm - 7:30pm
            </td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Location</td>
            <td class="jnr-table--details"><a href="{{ st_marys_url }}" title="Pitch details">St Mary's & Homerton Sports Ground</a></td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Time</td>
            <td class="jnr-table--details">
              U12 Boys (years 6 &amp; 7) and U14 Boys (years 8 &amp; 9): Tuesdays, 6:15pm - 7:30pm
            </td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Dates</td>
            <td class="jnr-table--details">
              <div class="jnr-table--title">2024/25</div><br/>
              <div class="jnr-table--heading">Autumn term (12 weeks)</div>
              <div class="jnr-table--context">
                U8 - U10: 7 September - 7 December (half term break 26 October &amp; 2 November)<br />
                U12 &amp; U14 Boys: 10 September - 3 December (half term break 29 October)<br />
                U12 &amp; U14 Girls: 10 September - 3 December (half term break 29 October)
              </div><br/>
              <div class="jnr-table--heading">Spring term (10 weeks)</div>
              <div class="jnr-table--context">
                U8 - U10: 11 January - 29 March (half term break 15 &amp; 22 February)<br />
                U12 &amp; U14 Boys: 14 January - 25 March (half term break 18 February)<br />
                U12 &amp; U14 Girls: 14 January - 25 March (half term break 18 February)
              </div>
            </td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Cost</td>
            <td class="jnr-table--details">
              <div class="jnr-table--heading">Season subscription</div>
              <div class="jnr-table--context">£120 (£60 due September, £60 in January).</div>
              <div class="jnr-table--context">25% discount for players starting after the October break (£30 due on joining; £60 in January).</div>
              <div class="jnr-table--context">50% discount for players starting after the winter break (£60 due on joining).</div>
            </td>
          </tr>
          <tr>
            <td class="jnr-table--heading">Kit</td>
            <td class="jnr-table--details">
              <p>Each child who has completed their taster and paid subs receives a free club
              playing T-shirt! Navy shorts and purple socks are also available to purchase at
              training. Other kit, including navy skorts as well as tops, hoodies and
              rain jackets may be ordered from our kit supplier, Y1, via the
              <a href="https://y1sport.com/collections/cambridge-south-hc" title="Club Shop" target="_blank">online club shop</a>.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="u-shadow-v5 g-bg-white g-brd-around g-brd-gray-light-v4 g-pa-20 text-center" role="alert">
        <p>New members receive a<br/><strong>free club T-shirt</strong></p>
        {% abs_static_url "img/kit/junior_playing_t_shirt.jpg" as juniors_shirt_image %}
        {% thumbnail juniors_shirt_image "320" as juniors_shirt_image_thumbnail %}
          <img class="w-100" src="{{ juniors_shirt_image_thumbnail.url }}"/>
        {% endthumbnail %}
      </div>
    </div>
  </div>

  <p>
    No previous hockey experience is necessary and beginners are welcomed. All sticks, balls and equipment are provided, but players
    may bring their own stick if they have one (please label clearly). Players require comfortable sportswear and
    trainers with grippy soles, and should bring a water bottle. <strong>Mouthguards and shinguards are strongly recommended for all players.</strong>
  </p>
  <p>
    Junior players who are eligible and also wish to <a href="{{ training }}" title="Seniors Training">play or train with the club’s
      senior section</a> (age 13+) are not required to pay separate <a href="{{ join_us }}#fees" title="Fees">senior membership subs</a>.
      Usual senior match fees will be payable.
  </p>
  <p>
    To apply for a place, or for more information, please fill in the contact form on this page. <strong>Following confirmation of a place,
    a Registration and Consent form must be completed and returned before a player may attend a session.</strong>
  </p>

  {% include 'blocks/_divider.html' %}

  <p class="lead">
    If you're interested in Juniors hockey at Cambridge South, just fill in this form and we'll get back to you!
  </p>

  <form id="contact-us" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" action="{{ juniors_index }}" method="post">
    {% unify_form_non_field_errors %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% csrf_token %}
    {% unify_form_section_heading 'Your details' %}
    <div class="row">
      <div class="col-md-6">
        {% unify_form_field 'first_name' 'inline' %}
      </div>
      <div class="col-md-6">
        {% unify_form_field 'last_name' 'inline' %}
      </div>
      <div class="col-md-6">
        {% unify_form_field 'email' 'inline' %}
      </div>
      <div class="col-md-6">
          {% unify_form_field 'phone' 'inline' %}
      </div>
    </div>

    {% unify_form_section_divider %}
    {% unify_form_section_heading "Your child's details" %}

    <div class="form-inline align-items-center">
      <div class="g-mr-20">
        {% unify_form_field 'child_name' 'inline' %}
      </div>
      <div class="g-mr-20 d-flex align-items-center">
        <span class="form-group g-mr-10">Gender:</span>
        {% unify_form_field 'child_gender' 'inline' %}
      </div>
      <div class="g-mr-20 d-flex align-items-center">
        <span class="form-group g-mr-10">Age:</span>
        {% unify_form_field 'child_age' 'inline' %}
      </div>
    </div>

    {% unify_form_section_divider %}
    {% unify_form_field 'message' 'inline' %}

    <div class="row">
      <div class="col-md-6">
        {% unify_form_field 'trigger' 'inline' label_class='' %}
      </div>
    </div>

    <div class="form-group">
      {{ form.captcha }}
      {% if form.errors.captcha %}<small class="form-control-feedback">{{ form.errors.captcha }}</small>{% endif %}
    </div>

    {% unify_form_submit_button 'Send' 'inline' %}
    {% unify_form_required_fields_footnote 'inline' %}
  </form>

  {% include 'blocks/_divider.html' %}

  <div class="row" id="resources">
    <div class="col-md-6 col-lg-8">
      <h3 class="g-pb-20">Resources</h3>
      {% document title="Registration and Consent Form" category="Juniors" %}
      {% document title="Safeguarding and Protecting Policy" category="Juniors" %}
      {% document title="Safeguarding and Protecting Commitment" category="Juniors" %}
      {% document title="Reporting concerns about a child's welfare" category="Juniors" %}
      {% document title="Photography Best Practice Guidance" category="Juniors" %}
      {% document title="RESPECT - Code of Ethics and Behaviour" category="Juniors" %}
      {% document title="Junior handbook" category="Juniors" %}
    </div>
  </div>
</section>

{% static "img/members/ellie_raffan.jpg" as ellie_pic %}
{% static "https://cshc-v3.s3.amazonaws.com/media/cache/84/d9/84d93c7378309aca3153f76d844e3d33.jpg" as nic_pic %}

<section id="key_people" class="g-bg-secondary">
  <div class="container g-py-60">
    {% include 'blocks/_middle_heading.html' with title="Key People" %}

    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-sm-6 g-mb-30">
        {% include 'club_info/_junior_contact.html' with thumbnail=ellie_pic name="Ellie Raffan" email="juniors@cambridgesouthhockeyclub.co.uk" position="Juniors Coordinator" blurb="Ellie has played for South since 2005 and has two kids in the junior section. She works with age group leads to coordinate hockey across the junior section and is happy to be contacted via Spond with any enquiries. Ellie loves seeing the kids develop in their confidence playing hockey and is working hard to improve access to age and skill appropriate training and competition across the age groups." %}
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-30">
        {% include 'club_info/_junior_contact.html' with thumbnail=nic_pic name="Nicole Mills" email="welfare@cambridgesouthhockeyclub.co.uk" position="Juniors Welfare Officer" blurb="For any welfare issues, concerns or queries regarding junior transition to senior hockey, Nicole is always contactable (just click the envelope icon above!) and happy to chat." %}
      </div>
    </div>
  </div>
</section>

<section id="news" class="container g-py-60">
  {% include 'blocks/_middle_heading.html' with title="Latest Juniors News" %}
  {% get_recent_category_entries 'juniors' 3 'core/_recent_articles.html' %}
  <div class="text-center">
    <a class="text-uppercase btn btn-lg u-btn-outline-primary rounded-0" title="More from the Juniors blog" href="{% url 'zinnia:category_detail' 'juniors' %}">
      More from the Juniors blog...
    </a>
  </div>
</section>


{% endblock main %}


{% block body_js %}
  {{ block.super }}
  {% include 'blocks/_dszparallaxer_js.html' %}
  {% include 'blocks/_scroll_nav_js.html' %}
  {% include 'blocks/_focus_state_js.html' %}
{% endblock %}
