{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags %}
{% load compress %}

{% block title %}{{ block.super }} | Kit{% endblock %}

{% block link %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  <link rel="stylesheet" href="{% static "vendor/icon-line/css/simple-line-icons.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% clear_breadcrumbs %}
{% endblock %}

{% block content %}

{% heading "Club Colours and Kit" %}

<p class="lead">Playing shirts are custom manufactured for the club by special order. New members are required to purchase a home 
  shirt on joining the club. These are offered at a subsidised price. Away shirts are provided by the club.</p>

<div class="row">
  <div class="col-12 col-lg-6 g-pb-40">
    {% include 'club_info/_kit_panel.html' with gender="Men" home_url="img/kit/adidas_home_kit_men.png" away_url="img/kit/adidas_away_kit_men.png" %}
  </div>
  <div class="col-12 col-lg-6 g-pb-40">
    {% include 'club_info/_kit_panel.html' with gender="Ladies" home_url="img/kit/adidas_home_kit_ladies.png" away_url="img/kit/adidas_away_kit_ladies.png" %}
  </div>
</div>

{% subheading "Ordering Kit" %}

<p>In addition to the playing shirts, the club also offers a variety of official playing and training kit available to order on our <strong>
  <a href="http://shop.cambridgesouthhockeyclub.co.uk/" target="_blank">online club shop</a></strong>.</p>
<p>The playing kit items are all constructed out of high performance fabrics and are selected to complement your club shirt. The training 
  wear is smart and practical and incorporates the club crest and personalised embroidery and printing options.</p>


<div class="row table-responsive g-mt-40">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card g-brd-primary rounded-0">
      <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
        <i class="fas fa-user g-mr-5"></i>
        Colour Clashes
      </h3>
    
      <div class="card-block g-pa-15">
        <p class="card-text">The change strip is used away from home against clubs who wear purple or other dark colours, indicated by a <i class="g-color-yellow fas fa-user g-px-5" title="Away kit"></i> symbol on the team fixture pages</p>
      </div>
    
    </div>
  </div>
</div>


{% endblock content %}