{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load cshc_tags documents %}
{% load compress %}

{% block title %}{{ block.super }} | Meeting Minutes{% endblock %}


{% block link %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "vendor/icon-line-pro/style.css" %}">
  <link rel="stylesheet" href="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css" %}">
  {% endcompress %}
{% endblock link %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Committee" "about_committee" %}
  {% breadcrumb "Minutes" "about_minutes" %}
{% endblock %}


{% block content %}

{% heading "CSHC Committee Meeting Minutes" %}

<p class="lead">
    CSHC is a not-for-profit organisation run by its own members in accordance with the club Constitution. Prior to 
    the 2009/10 season the Men's and Ladies' clubs were seperate entities but since then the two have merged and a 
    single Committee now administers the club, with sub-committees for men's and ladies' playing matters. The Committee 
    is appointed at the Annual General Meeting and appointments run for a single season.
</p>

{% document title="CSHC Constitution" category="Committee" %}

<p>Listed below are the minutes from previous club general meetings and committee meetings as well as the club accounts and even some old club newsletters.</p>

<div class="row g-py-40">
  <div class="col-md-6 col-lg-4 g-px-30 g-px-15--md">
    {% document_list category="Club General Meetings" max_height="380px" %}
  </div>
  <div class="col-md-6 col-lg-4 g-px-30 g-px-15--md">
    {% document_list category="Committee Meetings" max_height="380px" %}
  </div>
  <div class="col-md-6 col-lg-4 g-px-30 g-px-15--md">
    {% document_list category="Club Accounts" max_height="380px" %}
  </div>
  <div class="col-md-6 col-lg-4 g-px-30 g-px-15--md">
    {% document_list category="Newsletters" max_height="380px" %}
  </div>
</div>
{% endblock %}

{% block body_js %}
  {{ block.super }}
  {% compress js %}
  <script src="{% static "vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
  {% endcompress %}

  <script>
    $(document).on('ready', function () {
      $('.mCustomScrollbar').mCustomScrollbar();
    });
  </script>
{% endblock body_js %}