{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load unify %}

{% block title %}{{ block.super }} - {% trans "Signup" %}{% endblock %}

{% block main %}

{% url 'account_login' as login_url %}
{% include 'core/_messages.html' %}

<section class="g-bg-secondary">
  <section class="container g-py-150">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-6">
        <div class="u-shadow-v21 g-bg-white g-brd-around g-brd-gray-light-v4 rounded g-pa-50">
            <header class="text-center mb-4">
              <h2 class="h2 g-color-black g-font-weight-600">Sign Up</h2>
            </header>
            
            <p>{% blocktrans with provider_name=account.get_provider.name %}You are about to use your {{provider_name}} account to login to 
            Cambridge South Hockey Club. As a final step, please complete the following form:{% endblocktrans %}</p>
  
            <!-- Form -->
            <form id="signup_form" class="g-py-15" method="POST" action="{% url 'socialaccount_signup' %}">
              {% unify_form_non_field_errors %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="row">
                <div class="col-xs-12 col-sm-6 mb-4">
                  {% unify_form_field 'first_name' 'inline' %}
                </div>
            
                <div class="col-xs-12 col-sm-6 mb-4">
                    {% unify_form_field 'last_name' 'inline' %}                  
                </div>
              </div>
            
              <div class="mb-4">
                {% unify_form_field 'email' 'inline' %}              
              </div>
            
              <div class="mb-4">
                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25">
                  <input 
                    id="tc-checkbox" 
                    class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" 
                    type="checkbox">
                  <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i class="fas g-rounded-2" data-check-icon=""></i>
                  </div>
                  I accept the <a href="/terms-of-use/">Terms and Conditions</a>
                </label>
              </div>
            
              <button id="signup-button" disabled class="btn btn-md btn-block u-btn-primary rounded-0 g-py-15 mb-5" type="submit">Sign Up</button>
              
            </form>
            <!-- End Form -->

            <footer class="text-center">
              <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">Already have an account? <a class="g-font-weight-600" href="{{ login_url }}">Sign In</a>
              </p>
            </footer>
          </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}

{% block body_js %}
{{ block.super }}
{% include 'blocks/_focus_state_js.html' %}
<script>
  $(function () {
    $('#tc-checkbox').change(function() {
      var checked = $('#tc-checkbox').is(':checked');
      $('#signup-button').prop('disabled', !checked);
    });
  });
</script>
{% endblock body_js %}