{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}
{% load unify %}

{% block title %}{{ block.super }} - Email Addresses{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Profile" "user_profile" %}
{% breadcrumb "Email Addresses" "account_email" %}
{% endblock %}

{% block content %}
{% heading 'Email Addresses' %}

{% if user.emailaddress_set.all %}
<p class="lead">{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
    <div class="form-group g-mb-10">
      <label for="email_radio_{{forloop.counter}}" class="u-check g-pl-30 {% if emailaddress.primary %}primary_email{%endif%}">
        <input id="email_radio_{{forloop.counter}}" class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="email" type="radio" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %} value="{{emailaddress.email}}" />
        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
          <i class="far" data-check-icon="" data-uncheck-icon=""></i>
        </div>
        {{ emailaddress.email }}
        {% if emailaddress.verified %}
          <span class="verified g-font-weight-600">{% trans "(verified)" %}</span>
        {% else %}
          <span class="unverified">{% trans "(unverified)" %}</span>
        {% endif %}
        {% if emailaddress.primary %}<span class="primary g-font-weight-600">{% trans "Primary" %}</span>{% endif %}
      </label>
    </div>
  {% endfor %}

  <div class="buttonHolder g-mb-20">
    <button class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
    <button class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
    <button class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
  </div>

</fieldset>
</form>

{% else %}
  {% alert alert_class="warning" icon_class="fas fa-exclamation-triangle" bold_text="Warning!" message="You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
{% endif %}

<div class="u-heading-v1-4 g-bg-main g-brd-gray-light-v2 g-mb-20">
  <h2 class="h3 u-heading-v1__title">{% trans "Add E-mail Address" %}</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <form method="post" action="{% url 'account_email' %}" class="g-brd-around g-brd-gray-light-v4 g-pa-30">
      {% csrf_token %}
      {% unify_form_non_field_errors %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% unify_form_field 'email' 'horizontal' %}
      {% unify_form_submit_button 'Add E-mail' 'horizontal' 'action_add' %}
    </form>
  </div>
</div>

{% endblock content %}


{% block body_js %}
{{ block.super }}
{% include 'blocks/_focus_state_js.html' %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock body_js %}
