{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}

{% block title %}{{ block.super }} - {% trans "Change Password" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Change Password" %}

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-md u-btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
</form>

{% endblock content %}

