{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}

{% block title %}{{ block.super }} - Set Password{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Set Password" %}

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-md u-btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
</form>
{% endblock content %}

