{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account %}
{% load unify %}

{% block title %}{{ block.super }} - Password Reset{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Password Reset" %}

{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgot your password? Enter your e-mail address below and we'll send you an e-mail allowing you to reset it." %}</p>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form method="POST" action="{% url 'account_reset_password' %}" class="g-brd-around g-brd-gray-light-v4 g-pa-30">
      {% csrf_token %}
      {% unify_form_non_field_errors %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% unify_form_field 'email' 'horizontal' %}
      {% unify_form_submit_button 'Reset My Password' 'horizontal' %}
    </form>
  </div>
</div>

<p class="g-mt-20">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock content %}

{% block body_js %}
{{ block.super }}
{% include 'blocks/_focus_state_js.html' %}
{% endblock body_js %}
