{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} - {% trans "Password Reset" %}{% endblock %}


{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Password Reset" %}

{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="lead">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock content %}
