{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}
{% load unify %}

{% block title %}{{ block.super }} - Set Password{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Set Password" %}

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form method="POST" action="{% url 'account_set_password' %}" class="g-brd-around g-brd-gray-light-v4 g-pa-30">
      <small class="form-text text-muted g-font-size-default g-mb-10">Passwords must be at least 8 characters long.</small>
      {% csrf_token %}
      {% unify_form_non_field_errors %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% unify_form_field 'password1' 'horizontal' %}
      {% unify_form_field 'password2' 'horizontal' %}
      {% unify_form_submit_button 'Set Password' 'horizontal' 'action' %}
    </form>
  </div>
</div>
{% endblock content %}

{% block body_js %}
{{ block.super }}
{% include 'blocks/_focus_state_js.html' %}
{% endblock body_js %}
