{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}
{% load unify %}

{% block title %}{{ block.super }} - Change Password{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% if token_fail %}
  {% heading "Bad Token" %}
{% else %}
  {% heading "Change Password" %}
{% endif %}

{% if token_fail %}
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
  {% if form %}
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <form method="POST" action="{{ action_url }}" class="g-brd-around g-brd-gray-light-v4 g-pa-30">
          {% csrf_token %}
          {% unify_form_non_field_errors %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          {% unify_form_field 'password1' 'horizontal' %}
          {% unify_form_field 'password2' 'horizontal' %}
          {% unify_form_submit_button 'Change Password' 'horizontal' %}
        </form>
      </div>
    </div>
  {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
  {% endif %}
{% endif %}

{% endblock content %}

{% block body_js %}
{{ block.super }}
{% include 'blocks/_focus_state_js.html' %}
{% endblock body_js %}

