{% extends "account/base.html" %}

{% load i18n %}
{% load cshc_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load account socialaccount %}

{% block title %}{{ block.super }} - {% trans "Verify Your E-mail Address" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% clear_breadcrumbs %}
{% endblock %}

{% block content %}
{% heading "Verify Your E-mail Address" %}

<p class="lead">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock content %}
